<h1 class="text-center">New visitor_comment</h1>

<div class="row">
  <%= link_to 'Back', visitor_comments_path, class: "button tiny" %>
  <div class="small-6">
    <%= render 'form' %>
  </div>
</div>
