<br>
<div class="row">
  <div class="small-12">
    <div id="top-button-container">
      <%= render 'topbuttons' %>
    </div>

    <% if Setting.selected_languages.length < 2 %>
        <%= render 'single_language_show' %>
    <% else %>
      <%= render 'multilanguage_show' %>
    <% end %>
  </div>
</div>