<ul id="sortable">
  <% @added_images.each do |image| %>
    <li class="ui-state-default" id="<%= image.id %>">
      <div class="image">
        <img href="#" alt="default" src="<%= download_attachment_url(image.attachment)%>">
        <%= link_to content_tag(:i, '', class: "fi-x"), {action: 'remove_photo', controller: 'admin/galleries', photo_id: image.id}, method: :post, class: "corner" %>
      </div>
    </li>
  <% end %>
</ul>