<div id="emoji-modal" class="reveal-modal small" data-reveal>
  <a class="close-reveal-modal">&#215;</a>
  <dl class="tabs" data-tab>
    <dd class="active"><a id="emoji-cat-1" href="#emoji-panel-1"></a></dd>
    <dd><a id="emoji-cat-2" href="#emoji-panel-2"></a></dd>
    <dd><a id="emoji-cat-3" href="#emoji-panel-3"></a></dd>
    <dd><a id="emoji-cat-4" href="#emoji-panel-4"></a></dd>
    <dd><a id="emoji-cat-5" href="#emoji-panel-5"></a></dd>
  </dl>

  <div class="tabs-content">
    <div class="content active" id="emoji-panel-1"></div>
    <div class="content" id="emoji-panel-2"></div>
    <div class="content" id="emoji-panel-3"></div>
    <div class="content" id="emoji-panel-4"></div>
    <div class="content" id="emoji-panel-5"></div>
  </div>

</div>