<div id="emoji-modal" class="reveal-modal small" data-reveal>
  <a class="close-reveal-modal">&#215;</a>
  <dl class="tabs" data-tab>
    <dd class="active"><a id="emoji-cat-1" href="#panel1"></a></dd>
    <dd><a id="emoji-cat-2" href="#panel2"></a></dd>
    <dd><a id="emoji-cat-3" href="#panel3"></a></dd>
    <dd><a id="emoji-cat-4" href="#panel4"></a></dd>
    <dd><a id="emoji-cat-5" href="#panel5"></a></dd>
  </dl>

  <div class="tabs-content">
    <div class="content active" id="emoji-panel-1">
      <p>This is the first panel of the basic tab example. This is the first panel of the basic tab example.</p>
    </div>
    <div class="content" id="emoji-panel-2">
      <p>This is the second panel of the basic tab example. This is the second panel of the basic tab example.</p>
    </div>
    <div class="content" id="emoji-panel-3">
      <p>This is the third panel of the basic tab example. This is the third panel of the basic tab example.</p>
    </div>
    <div class="content" id="emoji-panel-4">
      <p>This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.</p>
    </div>
    <div class="content" id="emoji-panel-5">
      <p>This is the fifth panel of the basic tab example. This is the fifth panel of the basic tab example.</p>
    </div>
  </div>

</div>