<a title=":wolf:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F43A"></use>
  </svg>
</a>
<a title=":cat:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F431"></use>
  </svg>
</a>
<a title=":mouse:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F42D"></use>
  </svg>
</a>
<a title=":hamster:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F439"></use>
  </svg>
</a>
<a title=":rabbit:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F430"></use>
  </svg>
</a>
<a title=":frog:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F438"></use>
  </svg>
</a>
<a title=":tiger:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F42F"></use>
  </svg>
</a>
<a title=":koala:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F428"></use>
  </svg>
</a>
<a title=":bear:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F43B"></use>
  </svg>
</a>
<a title=":pig:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F437"></use>
  </svg>
</a>
<a title=":pig_nose:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F43D"></use>
  </svg>
</a>
<a title=":cow:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F42E"></use>
  </svg>
</a>
<a title=":boar:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F417"></use>
  </svg>
</a>
<a title=":monkey_face:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F435"></use>
  </svg>
</a>
<a title=":monkey:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F412"></use>
  </svg>
</a>
<a title=":horse:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F434"></use>
  </svg>
</a>
<a title=":sheep:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F411"></use>
  </svg>
</a>
<a title=":elephant:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F418"></use>
  </svg>
</a>
<a title=":panda_face:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F43C"></use>
  </svg>
</a>
<a title=":penguin:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F427"></use>
  </svg>
</a>
<a title=":bird:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F426"></use>
  </svg>
</a>
<a title=":baby_chick:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F424"></use>
  </svg>
</a>
<a title=":hatched_chick:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F425"></use>
  </svg>
</a>
<a title=":hatching_chick:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F423"></use>
  </svg>
</a>
<a title=":chicken:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F414"></use>
  </svg>
</a>
<a title=":snake:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F40D"></use>
  </svg>
</a>
<a title=":turtle:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F422"></use>
  </svg>
</a>
<a title=":bug:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F41B"></use>
  </svg>
</a>
<a title=":bee:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F41D"></use>
  </svg>
</a>
<a title=":ant:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F41C"></use>
  </svg>
</a>
<a title=":beetle:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F41E"></use>
  </svg>
</a>
<a title=":snail:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F40C"></use>
  </svg>
</a>
<a title=":octopus:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F419"></use>
  </svg>
</a>
<a title=":shell:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F41A"></use>
  </svg>
</a>
<a title=":tropical_fish:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F420"></use>
  </svg>
</a>
<a title=":fish:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F41F"></use>
  </svg>
</a>
<a title=":dolphin:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F42C"></use>
  </svg>
</a>
<a title=":whale:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F433"></use>
  </svg>
</a>
<a title=":whale2:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F40B"></use>
  </svg>
</a>
<a title=":cow2:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F404"></use>
  </svg>
</a>
<a title=":ram:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F40F"></use>
  </svg>
</a>
<a title=":rat:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F400"></use>
  </svg>
</a>
<a title=":water_buffalo:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F403"></use>
  </svg>
</a>
<a title=":tiger2:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F405"></use>
  </svg>
</a>
<a title=":rabbit2:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F407"></use>
  </svg>
</a>
<a title=":dragon:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F409"></use>
  </svg>
</a>
<a title=":racehorse:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F40E"></use>
  </svg>
</a>
<a title=":goat:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F410"></use>
  </svg>
</a>
<a title=":rooster:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F413"></use>
  </svg>
</a>
<a title=":dog2:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F415"></use>
  </svg>
</a>
<a title=":pig2:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F416"></use>
  </svg>
</a>
<a title=":mouse2:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F401"></use>
  </svg>
</a>
<a title=":ox:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F402"></use>
  </svg>
</a>
<a title=":dragon_face:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F432"></use>
  </svg>
</a>
<a title=":blowfish:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F421"></use>
  </svg>
</a>
<a title=":crocodile:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F40A"></use>
  </svg>
</a>
<a title=":camel:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F42B"></use>
  </svg>
</a>
<a title=":dromedary_camel:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F42A"></use>
  </svg>
</a>
<a title=":leopard:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F406"></use>
  </svg>
</a>
<a title=":cat2:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F408"></use>
  </svg>
</a>
<a title=":poodle:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F429"></use>
  </svg>
</a>
<a title=":feet:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F43E"></use>
  </svg>
</a>
<a title=":bouquet:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F490"></use>
  </svg>
</a>
<a title=":cherry_blossom:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F338"></use>
  </svg>
</a>
<a title=":tulip:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F337"></use>
  </svg>
</a>
<a title=":four_leaf_clover:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F340"></use>
  </svg>
</a>
<a title=":rose:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F339"></use>
  </svg>
</a>
<a title=":sunflower:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F33B"></use>
  </svg>
</a>
<a title=":hibiscus:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F33A"></use>
  </svg>
</a>
<a title=":maple_leaf:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F341"></use>
  </svg>
</a>
<a title=":leaves:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F343"></use>
  </svg>
</a>
<a title=":fallen_leaf:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F342"></use>
  </svg>
</a>
<a title=":herb:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F33F"></use>
  </svg>
</a>
<a title=":ear_of_rice:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F33E"></use>
  </svg>
</a>
<a title=":mushroom:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F344"></use>
  </svg>
</a>
<a title=":cactus:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F335"></use>
  </svg>
</a>
<a title=":palm_tree:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F334"></use>
  </svg>
</a>
<a title=":evergreen_tree:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F332"></use>
  </svg>
</a>
<a title=":deciduous_tree:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F333"></use>
  </svg>
</a>
<a title=":chestnut:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F330"></use>
  </svg>
</a>
<a title=":seedling:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F331"></use>
  </svg>
</a>
<a title=":blossom:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F33C"></use>
  </svg>
</a>
<a title=":globe_with_meridians:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F310"></use>
  </svg>
</a>
<a title=":sun_with_face:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F31E"></use>
  </svg>
</a>
<a title=":full_moon_with_face:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F31D"></use>
  </svg>
</a>
<a title=":new_moon_with_face:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F31A"></use>
  </svg>
</a>
<a title=":new_moon:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F311"></use>
  </svg>
</a>
<a title=":waxing_crescent_moon:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F312"></use>
  </svg>
</a>
<a title=":first_quarter_moon:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F313"></use>
  </svg>
</a>
<a title=":waxing_gibbous_moon:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F314"></use>
  </svg>
</a>
<a title=":full_moon:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F315"></use>
  </svg>
</a>
<a title=":waning_gibbous_moon:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F316"></use>
  </svg>
</a>
<a title=":last_quarter_moon:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F317"></use>
  </svg>
</a>
<a title=":waning_crescent_moon:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F318"></use>
  </svg>
</a>
<a title=":last_quarter_moon_with_face:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F31C"></use>
  </svg>
</a>
<a title=":first_quarter_moon_with_face:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F31B"></use>
  </svg>
</a>
<a title=":crescent_moon:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F319"></use>
  </svg>
</a>
<a title=":earth_africa:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F30D"></use>
  </svg>
</a>
<a title=":earth_americas:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F30E"></use>
  </svg>
</a>
<a title=":earth_asia:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F30F"></use>
  </svg>
</a>
<a title=":volcano:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F30B"></use>
  </svg>
</a>
<a title=":milky_way:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F30C"></use>
  </svg>
</a>
<a title=":stars:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F320"></use>
  </svg>
</a>
<a title​":​star:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-2B50"></use>
  </svg>
</a>
<a title​":​sunny:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-2600"></use>
  </svg>
</a>
<a title​":​partly_sunny:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-26C5"></use>
  </svg>
</a>
<a title​":​cloud:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-2601"></use>
  </svg>
</a>
<a title​":​zap:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-26A1"></use>
  </svg>
</a>
<a title​":​umbrella:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-2614"></use>
  </svg>
</a>
<a title​":​snowflake:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-2744"></use>
  </svg>
</a>
<a title​":​snowman:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-26C4"></use>
  </svg>
</a>
<a title=":cyclone:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F300"></use>
  </svg>
</a>
<a title=":foggy:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F301"></use>
  </svg>
</a>
<a title=":rainbow:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F308"></use>
  </svg>
</a>
<a title=":ocean:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F30A"></use>
  </svg>
</a>
 