<a title=":bamboo:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F38D"></use>
  </svg>
</a>
<a title=":gift_heart:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F49D"></use>
  </svg>
</a>
<a title=":dolls:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F38E"></use>
  </svg>
</a>
<a title=":school_satchel:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F392"></use>
  </svg>
</a>
<a title=":mortar_board:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F393"></use>
  </svg>
</a>
<a title=":flags:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F38F"></use>
  </svg>
</a>
<a title=":fireworks:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F386"></use>
  </svg>
</a>
<a title=":sparkler:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F387"></use>
  </svg>
</a>
<a title=":wind_chime:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F390"></use>
  </svg>
</a>
<a title=":rice_scene:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F391"></use>
  </svg>
</a>
<a title=":jack_o_lantern:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F383"></use>
  </svg>
</a>
<a title=":ghost:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F47B"></use>
  </svg>
</a>
<a title=":santa:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F385"></use>
  </svg>
</a>
<a title=":christmas_tree:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F384"></use>
  </svg>
</a>
<a title=":gift:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F381"></use>
  </svg>
</a>
<a title=":tanabata_tree:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F38B"></use>
  </svg>
</a>
<a title=":tada:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F389"></use>
  </svg>
</a>
<a title=":confetti_ball:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F38A"></use>
  </svg>
</a>
<a title=":balloon:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F388"></use>
  </svg>
</a>
<a title=":crossed_flags:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F38C"></use>
  </svg>
</a>
<a title=":crystal_ball:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F52E"></use>
  </svg>
</a>
<a title=":movie_camera:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3A5"></use>
  </svg>
</a>
<a title=":camera:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4F7"></use>
  </svg>
</a>
<a title=":video_camera:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4F9"></use>
  </svg>
</a>
<a title=":vhs:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4FC"></use>
  </svg>
</a>
<a title=":cd:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4BF"></use>
  </svg>
</a>
<a title=":dvd:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4C0"></use>
  </svg>
</a>
<a title=":minidisc:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4BD"></use>
  </svg>
</a>
<a title=":floppy_disk:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4BE"></use>
  </svg>
</a>
<a title=":computer:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4BB"></use>
  </svg>
</a>
<a title=":iphone:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4F1"></use>
  </svg>
</a>
<a title​":​telephone:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-260E"></use>
  </svg>
</a>
<a title=":telephone_receiver:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4DE"></use>
  </svg>
</a>
<a title=":pager:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4DF"></use>
  </svg>
</a>
<a title=":fax:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4E0"></use>
  </svg>
</a>
<a title=":satellite:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4E1"></use>
  </svg>
</a>
<a title=":tv:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4FA"></use>
  </svg>
</a>
<a title=":radio:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4FB"></use>
  </svg>
</a>
<a title=":loud_sound:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F50A"></use>
  </svg>
</a>
<a title=":sound:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F509"></use>
  </svg>
</a>
<a title=":speaker:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F508"></use>
  </svg>
</a>
<a title=":mute:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F507"></use>
  </svg>
</a>
<a title=":bell:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F514"></use>
  </svg>
</a>
<a title=":no_bell:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F515"></use>
  </svg>
</a>
<a title=":loudspeaker:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4E2"></use>
  </svg>
</a>
<a title=":mega:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4E3"></use>
  </svg>
</a>
<a title​":​hourglass_flowing_sand:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-23F3"></use>
  </svg>
</a>
<a title​":​hourglass:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-231B"></use>
  </svg>
</a>
<a title​":​alarm_clock:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-23F0"></use>
  </svg>
</a>
<a title​":​watch:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-231A"></use>
  </svg>
</a>
<a title=":unlock:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F513"></use>
  </svg>
</a>
<a title=":lock:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F512"></use>
  </svg>
</a>
<a title=":lock_with_ink_pen:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F50F"></use>
  </svg>
</a>
<a title=":closed_lock_with_key:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F510"></use>
  </svg>
</a>
<a title=":key:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F511"></use>
  </svg>
</a>
<a title=":mag_right:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F50E"></use>
  </svg>
</a>
<a title=":bulb:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4A1"></use>
  </svg>
</a>
<a title=":flashlight:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F526"></use>
  </svg>
</a>
<a title=":high_brightness:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F506"></use>
  </svg>
</a>
<a title=":low_brightness:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F505"></use>
  </svg>
</a>
<a title=":electric_plug:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F50C"></use>
  </svg>
</a>
<a title=":battery:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F50B"></use>
  </svg>
</a>
<a title=":mag:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F50D"></use>
  </svg>
</a>
<a title=":bathtub:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F6C1"></use>
  </svg>
</a>
<a title=":bath:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F6C0"></use>
  </svg>
</a>
<a title=":shower:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F6BF"></use>
  </svg>
</a>
<a title=":toilet:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F6BD"></use>
  </svg>
</a>
<a title=":wrench:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F527"></use>
  </svg>
</a>
<a title=":nut_and_bolt:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F529"></use>
  </svg>
</a>
<a title=":hammer:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F528"></use>
  </svg>
</a>
<a title=":door:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F6AA"></use>
  </svg>
</a>
<a title=":smoking:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F6AC"></use>
  </svg>
</a>
<a title=":bomb:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4A3"></use>
  </svg>
</a>
<a title=":gun:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F52B"></use>
  </svg>
</a>
<a title=":knife:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F52A"></use>
  </svg>
</a>
<a title=":pill:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F48A"></use>
  </svg>
</a>
<a title=":syringe:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F489"></use>
  </svg>
</a>
<a title=":moneybag:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4B0"></use>
  </svg>
</a>
<a title=":yen:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4B4"></use>
  </svg>
</a>
<a title=":dollar:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4B5"></use>
  </svg>
</a>
<a title=":pound:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4B7"></use>
  </svg>
</a>
<a title=":euro:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4B6"></use>
  </svg>
</a>
<a title=":credit_card:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4B3"></use>
  </svg>
</a>
<a title=":money_with_wings:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4B8"></use>
  </svg>
</a>
<a title=":calling:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4F2"></use>
  </svg>
</a>
<a title=":e-mail:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4E7"></use>
  </svg>
</a>
<a title=":inbox_tray:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4E5"></use>
  </svg>
</a>
<a title=":outbox_tray:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4E4"></use>
  </svg>
</a>
<a title​":​envelope:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-2709"></use>
  </svg>
</a>
<a title=":envelope_with_arrow:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4E9"></use>
  </svg>
</a>
<a title=":incoming_envelope:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4E8"></use>
  </svg>
</a>
<a title=":postal_horn:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4EF"></use>
  </svg>
</a>
<a title=":mailbox:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4EB"></use>
  </svg>
</a>
<a title=":mailbox_closed:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4EA"></use>
  </svg>
</a>
<a title=":mailbox_with_mail:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4EC"></use>
  </svg>
</a>
<a title=":mailbox_with_no_mail:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4ED"></use>
  </svg>
</a>
<a title=":postbox:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4EE"></use>
  </svg>
</a>
<a title=":package:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4E6"></use>
  </svg>
</a>
<a title=":pencil:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4DD"></use>
  </svg>
</a>
<a title=":page_facing_up:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4C4"></use>
  </svg>
</a>
<a title=":page_with_curl:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4C3"></use>
  </svg>
</a>
<a title=":bookmark_tabs:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4D1"></use>
  </svg>
</a>
<a title=":bar_chart:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4CA"></use>
  </svg>
</a>
<a title=":chart_with_upwards_trend:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4C8"></use>
  </svg>
</a>
<a title=":chart_with_downwards_trend:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4C9"></use>
  </svg>
</a>
<a title=":scroll:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4DC"></use>
  </svg>
</a>
<a title=":clipboard:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4CB"></use>
  </svg>
</a>
<a title=":date:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4C5"></use>
  </svg>
</a>
<a title=":calendar:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4C6"></use>
  </svg>
</a>
<a title=":card_index:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4C7"></use>
  </svg>
</a>
<a title=":file_folder:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4C1"></use>
  </svg>
</a>
<a title=":open_file_folder:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4C2"></use>
  </svg>
</a>
<a title​":​scissors:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-2702"></use>
  </svg>
</a>
<a title=":pushpin:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4CC"></use>
  </svg>
</a>
<a title=":paperclip:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4CE"></use>
  </svg>
</a>
<a title​":​black_nib:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-2712"></use>
  </svg>
</a>
<a title​":​pencil2:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-270F"></use>
  </svg>
</a>
<a title=":straight_ruler:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4CF"></use>
  </svg>
</a>
<a title=":triangular_ruler:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4D0"></use>
  </svg>
</a>
<a title=":closed_book:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4D5"></use>
  </svg>
</a>
<a title=":green_book:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4D7"></use>
  </svg>
</a>
<a title=":blue_book:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4D8"></use>
  </svg>
</a>
<a title=":orange_book:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4D9"></use>
  </svg>
</a>
<a title=":notebook:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4D3"></use>
  </svg>
</a>
<a title=":notebook_with_decorative_cover:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4D4"></use>
  </svg>
</a>
<a title=":ledger:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4D2"></use>
  </svg>
</a>
<a title=":books:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4DA"></use>
  </svg>
</a>
<a title=":book:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4D6"></use>
  </svg>
</a>
<a title=":bookmark:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F516"></use>
  </svg>
</a>
<a title=":name_badge:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4DB"></use>
  </svg>
</a>
<a title=":microscope:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F52C"></use>
  </svg>
</a>
<a title=":telescope:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F52D"></use>
  </svg>
</a>
<a title=":newspaper:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4F0"></use>
  </svg>
</a>
<a title=":art:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3A8"></use>
  </svg>
</a>
<a title=":clapper:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3AC"></use>
  </svg>
</a>
<a title=":microphone:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3A4"></use>
  </svg>
</a>
<a title=":headphones:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3A7"></use>
  </svg>
</a>
<a title=":musical_score:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3BC"></use>
  </svg>
</a>
<a title=":musical_note:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3B5"></use>
  </svg>
</a>
<a title=":notes:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3B6"></use>
  </svg>
</a>
<a title=":musical_keyboard:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3B9"></use>
  </svg>
</a>
<a title=":violin:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3BB"></use>
  </svg>
</a>
<a title=":trumpet:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3BA"></use>
  </svg>
</a>
<a title=":saxophone:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3B7"></use>
  </svg>
</a>
<a title=":guitar:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3B8"></use>
  </svg>
</a>
<a title=":space_invader:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F47E"></use>
  </svg>
</a>
<a title=":video_game:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3AE"></use>
  </svg>
</a>
<a title=":black_joker:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F0CF"></use>
  </svg>
</a>
<a title=":flower_playing_cards:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3B4"></use>
  </svg>
</a>
<a title=":mahjong:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F004"></use>
  </svg>
</a>
<a title=":game_die:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3B2"></use>
  </svg>
</a>
<a title=":dart:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3AF"></use>
  </svg>
</a>
<a title=":football:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3C8"></use>
  </svg>
</a>
<a title=":basketball:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3C0"></use>
  </svg>
</a>
<a title​":​soccer:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-26BD"></use>
  </svg>
</a>
<a title​":​baseball:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-26BE"></use>
  </svg>
</a>
<a title=":tennis:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3BE"></use>
  </svg>
</a>
<a title=":8ball:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3B1"></use>
  </svg>
</a>
<a title=":rugby_football:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3C9"></use>
  </svg>
</a>
<a title=":bowling:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3B3"></use>
  </svg>
</a>
<a title​":​golf:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-26F3"></use>
  </svg>
</a>
<a title=":mountain_bicyclist:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F6B5"></use>
  </svg>
</a>
<a title=":bicyclist:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F6B4"></use>
  </svg>
</a>
<a title=":checkered_flag:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3C1"></use>
  </svg>
</a>
<a title=":horse_racing:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3C7"></use>
  </svg>
</a>
<a title=":trophy:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3C6"></use>
  </svg>
</a>
<a title=":ski:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3BF"></use>
  </svg>
</a>
<a title=":snowboarder:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3C2"></use>
  </svg>
</a>
<a title=":swimmer:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3CA"></use>
  </svg>
</a>
<a title=":surfer:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3C4"></use>
  </svg>
</a>
<a title=":fishing_pole_and_fish:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3A3"></use>
  </svg>
</a>
<a title​":​coffee:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-2615"></use>
  </svg>
</a>
<a title=":tea:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F375"></use>
  </svg>
</a>
<a title=":sake:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F376"></use>
  </svg>
</a>
<a title=":baby_bottle:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F37C"></use>
  </svg>
</a>
<a title=":beer:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F37A"></use>
  </svg>
</a>
<a title=":beers:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F37B"></use>
  </svg>
</a>
<a title=":cocktail:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F378"></use>
  </svg>
</a>
<a title=":tropical_drink:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F379"></use>
  </svg>
</a>
<a title=":wine_glass:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F377"></use>
  </svg>
</a>
<a title=":fork_and_knife:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F374"></use>
  </svg>
</a>
<a title=":pizza:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F355"></use>
  </svg>
</a>
<a title=":hamburger:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F354"></use>
  </svg>
</a>
<a title=":fries:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F35F"></use>
  </svg>
</a>
<a title=":poultry_leg:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F357"></use>
  </svg>
</a>
<a title=":meat_on_bone:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F356"></use>
  </svg>
</a>
<a title=":spaghetti:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F35D"></use>
  </svg>
</a>
<a title=":curry:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F35B"></use>
  </svg>
</a>
<a title=":fried_shrimp:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F364"></use>
  </svg>
</a>
<a title=":bento:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F371"></use>
  </svg>
</a>
<a title=":sushi:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F363"></use>
  </svg>
</a>
<a title=":fish_cake:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F365"></use>
  </svg>
</a>
<a title=":rice_ball:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F359"></use>
  </svg>
</a>
<a title=":rice_cracker:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F358"></use>
  </svg>
</a>
<a title=":rice:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F35A"></use>
  </svg>
</a>
<a title=":ramen:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F35C"></use>
  </svg>
</a>
<a title=":stew:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F372"></use>
  </svg>
</a>
<a title=":oden:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F362"></use>
  </svg>
</a>
<a title=":dango:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F361"></use>
  </svg>
</a>
<a title=":egg:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F373"></use>
  </svg>
</a>
<a title=":bread:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F35E"></use>
  </svg>
</a>
<a title=":doughnut:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F369"></use>
  </svg>
</a>
<a title=":custard:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F36E"></use>
  </svg>
</a>
<a title=":icecream:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F366"></use>
  </svg>
</a>
<a title=":ice_cream:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F368"></use>
  </svg>
</a>
<a title=":shaved_ice:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F367"></use>
  </svg>
</a>
<a title=":birthday:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F382"></use>
  </svg>
</a>
<a title=":cake:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F370"></use>
  </svg>
</a>
<a title=":cookie:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F36A"></use>
  </svg>
</a>
<a title=":chocolate_bar:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F36B"></use>
  </svg>
</a>
<a title=":candy:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F36C"></use>
  </svg>
</a>
<a title=":lollipop:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F36D"></use>
  </svg>
</a>
<a title=":honey_pot:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F36F"></use>
  </svg>
</a>
<a title=":apple:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F34E"></use>
  </svg>
</a>
<a title=":green_apple:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F34F"></use>
  </svg>
</a>
<a title=":tangerine:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F34A"></use>
  </svg>
</a>
<a title=":lemon:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F34B"></use>
  </svg>
</a>
<a title=":cherries:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F352"></use>
  </svg>
</a>
<a title=":grapes:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F347"></use>
  </svg>
</a>
<a title=":watermelon:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F349"></use>
  </svg>
</a>
<a title=":strawberry:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F353"></use>
  </svg>
</a>
<a title=":peach:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F351"></use>
  </svg>
</a>
<a title=":melon:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F348"></use>
  </svg>
</a>
<a title=":banana:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F34C"></use>
  </svg>
</a>
<a title=":pear:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F350"></use>
  </svg>
</a>
<a title=":pineapple:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F34D"></use>
  </svg>
</a>
<a title=":sweet_potato:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F360"></use>
  </svg>
</a>
<a title=":eggplant:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F346"></use>
  </svg>
</a>
<a title=":tomato:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F345"></use>
  </svg>
</a>
<a title=":corn:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F33D"></use>
  </svg>
</a>