<a id="emoji" title=":bamboo:">
  <img src="/emoji/1F38D.png" height="18px" width="18px">
</a>
<a id="emoji" title=":gift_heart:">
  <img src="/emoji/1F49D.png" height="18px" width="18px">
</a>
<a id="emoji" title=":dolls:">
  <img src="/emoji/1F38E.png" height="18px" width="18px">
</a>
<a id="emoji" title=":school_satchel:">
  <img src="/emoji/1F392.png" height="18px" width="18px">
</a>
<a id="emoji" title=":mortar_board:">
  <img src="/emoji/1F393.png" height="18px" width="18px">
</a>
<a id="emoji" title=":flags:">
  <img src="/emoji/1F38F.png" height="18px" width="18px">
</a>
<a id="emoji" title=":fireworks:">
  <img src="/emoji/1F386.png" height="18px" width="18px">
</a>
<a id="emoji" title=":sparkler:">
  <img src="/emoji/1F387.png" height="18px" width="18px">
</a>
<a id="emoji" title=":wind_chime:">
  <img src="/emoji/1F390.png" height="18px" width="18px">
</a>
<a id="emoji" title=":rice_scene:">
  <img src="/emoji/1F391.png" height="18px" width="18px">
</a>
<a id="emoji" title=":jack_o_lantern:">
  <img src="/emoji/1F383.png" height="18px" width="18px">
</a>
<a id="emoji" title=":ghost:">
  <img src="/emoji/1F47B.png" height="18px" width="18px">
</a>
<a id="emoji" title=":santa:">
  <img src="/emoji/1F385.png" height="18px" width="18px">
</a>
<a id="emoji" title=":christmas_tree:">
  <img src="/emoji/1F384.png" height="18px" width="18px">
</a>
<a id="emoji" title=":gift:">
  <img src="/emoji/1F381.png" height="18px" width="18px">
</a>
<a id="emoji" title=":tanabata_tree:">
  <img src="/emoji/1F38B.png" height="18px" width="18px">
</a>
<a id="emoji" title=":tada:">
  <img src="/emoji/1F389.png" height="18px" width="18px">
</a>
<a id="emoji" title=":confetti_ball:">
  <img src="/emoji/1F38A.png" height="18px" width="18px">
</a>
<a id="emoji" title=":balloon:">
  <img src="/emoji/1F388.png" height="18px" width="18px">
</a>
<a id="emoji" title=":crossed_flags:">
  <img src="/emoji/1F38C.png" height="18px" width="18px">
</a>
<a id="emoji" title=":crystal_ball:">
  <img src="/emoji/1F52E.png" height="18px" width="18px">
</a>
<a id="emoji" title=":movie_camera:">
  <img src="/emoji/1F3A5.png" height="18px" width="18px">
</a>
<a id="emoji" title=":camera:">
  <img src="/emoji/1F4F7.png" height="18px" width="18px">
</a>
<a id="emoji" title=":video_camera:">
  <img src="/emoji/1F4F9.png" height="18px" width="18px">
</a>
<a id="emoji" title=":vhs:">
  <img src="/emoji/1F4FC.png" height="18px" width="18px">
</a>
<a id="emoji" title=":cd:">
  <img src="/emoji/1F4BF.png" height="18px" width="18px">
</a>
<a id="emoji" title=":dvd:">
  <img src="/emoji/1F4C0.png" height="18px" width="18px">
</a>
<a id="emoji" title=":minidisc:">
  <img src="/emoji/1F4BD.png" height="18px" width="18px">
</a>
<a id="emoji" title=":floppy_disk:">
  <img src="/emoji/1F4BE.png" height="18px" width="18px">
</a>
<a id="emoji" title=":computer:">
  <img src="/emoji/1F4BB.png" height="18px" width="18px">
</a>
<a id="emoji" title=":iphone:">
  <img src="/emoji/1F4F1.png" height="18px" width="18px">
</a>
<a id="emoji" title​":​telephone:">
  <img src="/emoji/260E.png" height="18px" width="18px">
</a>
<a id="emoji" title=":telephone_receiver:">
  <img src="/emoji/1F4DE.png" height="18px" width="18px">
</a>
<a id="emoji" title=":pager:">
  <img src="/emoji/1F4DF.png" height="18px" width="18px">
</a>
<a id="emoji" title=":fax:">
  <img src="/emoji/1F4E0.png" height="18px" width="18px">
</a>
<a id="emoji" title=":satellite:">
  <img src="/emoji/1F4E1.png" height="18px" width="18px">
</a>
<a id="emoji" title=":tv:">
  <img src="/emoji/1F4FA.png" height="18px" width="18px">
</a>
<a id="emoji" title=":radio:">
  <img src="/emoji/1F4FB.png" height="18px" width="18px">
</a>
<a id="emoji" title=":loud_sound:">
  <img src="/emoji/1F50A.png" height="18px" width="18px">
</a>
<a id="emoji" title=":sound:">
  <img src="/emoji/1F509.png" height="18px" width="18px">
</a>
<a id="emoji" title=":speaker:">
  <img src="/emoji/1F508.png" height="18px" width="18px">
</a>
<a id="emoji" title=":mute:">
  <img src="/emoji/1F507.png" height="18px" width="18px">
</a>
<a id="emoji" title=":bell:">
  <img src="/emoji/1F514.png" height="18px" width="18px">
</a>
<a id="emoji" title=":no_bell:">
  <img src="/emoji/1F515.png" height="18px" width="18px">
</a>
<a id="emoji" title=":loudspeaker:">
  <img src="/emoji/1F4E2.png" height="18px" width="18px">
</a>
<a id="emoji" title=":mega:">
  <img src="/emoji/1F4E3.png" height="18px" width="18px">
</a>
<a id="emoji" title​":​hourglass_flowing_sand:">
  <img src="/emoji/23F3.png" height="18px" width="18px">
</a>
<a id="emoji" title​":​hourglass:">
  <img src="/emoji/231B.png" height="18px" width="18px">
</a>
<a id="emoji" title​":​alarm_clock:">
  <img src="/emoji/23F0.png" height="18px" width="18px">
</a>
<a id="emoji" title​":​watch:">
  <img src="/emoji/231A.png" height="18px" width="18px">
</a>
<a id="emoji" title=":unlock:">
  <img src="/emoji/1F513.png" height="18px" width="18px">
</a>
<a id="emoji" title=":lock:">
  <img src="/emoji/1F512.png" height="18px" width="18px">
</a>
<a id="emoji" title=":lock_with_ink_pen:">
  <img src="/emoji/1F50F.png" height="18px" width="18px">
</a>
<a id="emoji" title=":closed_lock_with_key:">
  <img src="/emoji/1F510.png" height="18px" width="18px">
</a>
<a id="emoji" title=":key:">
  <img src="/emoji/1F511.png" height="18px" width="18px">
</a>
<a id="emoji" title=":mag_right:">
  <img src="/emoji/1F50E.png" height="18px" width="18px">
</a>
<a id="emoji" title=":bulb:">
  <img src="/emoji/1F4A1.png" height="18px" width="18px">
</a>
<a id="emoji" title=":flashlight:">
  <img src="/emoji/1F526.png" height="18px" width="18px">
</a>
<a id="emoji" title=":high_brightness:">
  <img src="/emoji/1F506.png" height="18px" width="18px">
</a>
<a id="emoji" title=":low_brightness:">
  <img src="/emoji/1F505.png" height="18px" width="18px">
</a>
<a id="emoji" title=":electric_plug:">
  <img src="/emoji/1F50C.png" height="18px" width="18px">
</a>
<a id="emoji" title=":battery:">
  <img src="/emoji/1F50B.png" height="18px" width="18px">
</a>
<a id="emoji" title=":mag:">
  <img src="/emoji/1F50D.png" height="18px" width="18px">
</a>
<a id="emoji" title=":bathtub:">
  <img src="/emoji/1F6C1.png" height="18px" width="18px">
</a>
<a id="emoji" title=":bath:">
  <img src="/emoji/1F6C0.png" height="18px" width="18px">
</a>
<a id="emoji" title=":shower:">
  <img src="/emoji/1F6BF.png" height="18px" width="18px">
</a>
<a id="emoji" title=":toilet:">
  <img src="/emoji/1F6BD.png" height="18px" width="18px">
</a>
<a id="emoji" title=":wrench:">
  <img src="/emoji/1F527.png" height="18px" width="18px">
</a>
<a id="emoji" title=":nut_and_bolt:">
  <img src="/emoji/1F529.png" height="18px" width="18px">
</a>
<a id="emoji" title=":hammer:">
  <img src="/emoji/1F528.png" height="18px" width="18px">
</a>
<a id="emoji" title=":door:">
  <img src="/emoji/1F6AA.png" height="18px" width="18px">
</a>
<a id="emoji" title=":smoking:">
  <img src="/emoji/1F6AC.png" height="18px" width="18px">
</a>
<a id="emoji" title=":bomb:">
  <img src="/emoji/1F4A3.png" height="18px" width="18px">
</a>
<a id="emoji" title=":gun:">
  <img src="/emoji/1F52B.png" height="18px" width="18px">
</a>
<a id="emoji" title=":knife:">
  <img src="/emoji/1F52A.png" height="18px" width="18px">
</a>
<a id="emoji" title=":pill:">
  <img src="/emoji/1F48A.png" height="18px" width="18px">
</a>
<a id="emoji" title=":syringe:">
  <img src="/emoji/1F489.png" height="18px" width="18px">
</a>
<a id="emoji" title=":moneybag:">
  <img src="/emoji/1F4B0.png" height="18px" width="18px">
</a>
<a id="emoji" title=":yen:">
  <img src="/emoji/1F4B4.png" height="18px" width="18px">
</a>
<a id="emoji" title=":dollar:">
  <img src="/emoji/1F4B5.png" height="18px" width="18px">
</a>
<a id="emoji" title=":pound:">
  <img src="/emoji/1F4B7.png" height="18px" width="18px">
</a>
<a id="emoji" title=":euro:">
  <img src="/emoji/1F4B6.png" height="18px" width="18px">
</a>
<a id="emoji" title=":credit_card:">
  <img src="/emoji/1F4B3.png" height="18px" width="18px">
</a>
<a id="emoji" title=":money_with_wings:">
  <img src="/emoji/1F4B8.png" height="18px" width="18px">
</a>
<a id="emoji" title=":calling:">
  <img src="/emoji/1F4F2.png" height="18px" width="18px">
</a>
<a id="emoji" title=":e-mail:">
  <img src="/emoji/1F4E7.png" height="18px" width="18px">
</a>
<a id="emoji" title=":inbox_tray:">
  <img src="/emoji/1F4E5.png" height="18px" width="18px">
</a>
<a id="emoji" title=":outbox_tray:">
  <img src="/emoji/1F4E4.png" height="18px" width="18px">
</a>
<a id="emoji" title​":​envelope:">
  <img src="/emoji/2709.png" height="18px" width="18px">
</a>
<a id="emoji" title=":envelope_with_arrow:">
  <img src="/emoji/1F4E9.png" height="18px" width="18px">
</a>
<a id="emoji" title=":incoming_envelope:">
  <img src="/emoji/1F4E8.png" height="18px" width="18px">
</a>
<a id="emoji" title=":postal_horn:">
  <img src="/emoji/1F4EF.png" height="18px" width="18px">
</a>
<a id="emoji" title=":mailbox:">
  <img src="/emoji/1F4EB.png" height="18px" width="18px">
</a>
<a id="emoji" title=":mailbox_closed:">
  <img src="/emoji/1F4EA.png" height="18px" width="18px">
</a>
<a id="emoji" title=":mailbox_with_mail:">
  <img src="/emoji/1F4EC.png" height="18px" width="18px">
</a>
<a id="emoji" title=":mailbox_with_no_mail:">
  <img src="/emoji/1F4ED.png" height="18px" width="18px">
</a>
<a id="emoji" title=":postbox:">
  <img src="/emoji/1F4EE.png" height="18px" width="18px">
</a>
<a id="emoji" title=":package:">
  <img src="/emoji/1F4E6.png" height="18px" width="18px">
</a>
<a id="emoji" title=":pencil:">
  <img src="/emoji/1F4DD.png" height="18px" width="18px">
</a>
<a id="emoji" title=":page_facing_up:">
  <img src="/emoji/1F4C4.png" height="18px" width="18px">
</a>
<a id="emoji" title=":page_with_curl:">
  <img src="/emoji/1F4C3.png" height="18px" width="18px">
</a>
<a id="emoji" title=":bookmark_tabs:">
  <img src="/emoji/1F4D1.png" height="18px" width="18px">
</a>
<a id="emoji" title=":bar_chart:">
  <img src="/emoji/1F4CA.png" height="18px" width="18px">
</a>
<a id="emoji" title=":chart_with_upwards_trend:">
  <img src="/emoji/1F4C8.png" height="18px" width="18px">
</a>
<a id="emoji" title=":chart_with_downwards_trend:">
  <img src="/emoji/1F4C9.png" height="18px" width="18px">
</a>
<a id="emoji" title=":scroll:">
  <img src="/emoji/1F4DC.png" height="18px" width="18px">
</a>
<a id="emoji" title=":clipboard:">
  <img src="/emoji/1F4CB.png" height="18px" width="18px">
</a>
<a id="emoji" title=":date:">
  <img src="/emoji/1F4C5.png" height="18px" width="18px">
</a>
<a id="emoji" title=":calendar:">
  <img src="/emoji/1F4C6.png" height="18px" width="18px">
</a>
<a id="emoji" title=":card_index:">
  <img src="/emoji/1F4C7.png" height="18px" width="18px">
</a>
<a id="emoji" title=":file_folder:">
  <img src="/emoji/1F4C1.png" height="18px" width="18px">
</a>
<a id="emoji" title=":open_file_folder:">
  <img src="/emoji/1F4C2.png" height="18px" width="18px">
</a>
<a id="emoji" title​":​scissors:">
  <img src="/emoji/2702.png" height="18px" width="18px">
</a>
<a id="emoji" title=":pushpin:">
  <img src="/emoji/1F4CC.png" height="18px" width="18px">
</a>
<a id="emoji" title=":paperclip:">
  <img src="/emoji/1F4CE.png" height="18px" width="18px">
</a>
<a id="emoji" title​":​black_nib:">
  <img src="/emoji/2712.png" height="18px" width="18px">
</a>
<a id="emoji" title​":​pencil2:">
  <img src="/emoji/270F.png" height="18px" width="18px">
</a>
<a id="emoji" title=":straight_ruler:">
  <img src="/emoji/1F4CF.png" height="18px" width="18px">
</a>
<a id="emoji" title=":triangular_ruler:">
  <img src="/emoji/1F4D0.png" height="18px" width="18px">
</a>
<a id="emoji" title=":closed_book:">
  <img src="/emoji/1F4D5.png" height="18px" width="18px">
</a>
<a id="emoji" title=":green_book:">
  <img src="/emoji/1F4D7.png" height="18px" width="18px">
</a>
<a id="emoji" title=":blue_book:">
  <img src="/emoji/1F4D8.png" height="18px" width="18px">
</a>
<a id="emoji" title=":orange_book:">
  <img src="/emoji/1F4D9.png" height="18px" width="18px">
</a>
<a id="emoji" title=":notebook:">
  <img src="/emoji/1F4D3.png" height="18px" width="18px">
</a>
<a id="emoji" title=":notebook_with_decorative_cover:">
  <img src="/emoji/1F4D4.png" height="18px" width="18px">
</a>
<a id="emoji" title=":ledger:">
  <img src="/emoji/1F4D2.png" height="18px" width="18px">
</a>
<a id="emoji" title=":books:">
  <img src="/emoji/1F4DA.png" height="18px" width="18px">
</a>
<a id="emoji" title=":book:">
  <img src="/emoji/1F4D6.png" height="18px" width="18px">
</a>
<a id="emoji" title=":bookmark:">
  <img src="/emoji/1F516.png" height="18px" width="18px">
</a>
<a id="emoji" title=":name_badge:">
  <img src="/emoji/1F4DB.png" height="18px" width="18px">
</a>
<a id="emoji" title=":microscope:">
  <img src="/emoji/1F52C.png" height="18px" width="18px">
</a>
<a id="emoji" title=":telescope:">
  <img src="/emoji/1F52D.png" height="18px" width="18px">
</a>
<a id="emoji" title=":newspaper:">
  <img src="/emoji/1F4F0.png" height="18px" width="18px">
</a>
<a id="emoji" title=":art:">
  <img src="/emoji/1F3A8.png" height="18px" width="18px">
</a>
<a id="emoji" title=":clapper:">
  <img src="/emoji/1F3AC.png" height="18px" width="18px">
</a>
<a id="emoji" title=":microphone:">
  <img src="/emoji/1F3A4.png" height="18px" width="18px">
</a>
<a id="emoji" title=":headphones:">
  <img src="/emoji/1F3A7.png" height="18px" width="18px">
</a>
<a id="emoji" title=":musical_score:">
  <img src="/emoji/1F3BC.png" height="18px" width="18px">
</a>
<a id="emoji" title=":musical_note:">
  <img src="/emoji/1F3B5.png" height="18px" width="18px">
</a>
<a id="emoji" title=":notes:">
  <img src="/emoji/1F3B6.png" height="18px" width="18px">
</a>
<a id="emoji" title=":musical_keyboard:">
  <img src="/emoji/1F3B9.png" height="18px" width="18px">
</a>
<a id="emoji" title=":violin:">
  <img src="/emoji/1F3BB.png" height="18px" width="18px">
</a>
<a id="emoji" title=":trumpet:">
  <img src="/emoji/1F3BA.png" height="18px" width="18px">
</a>
<a id="emoji" title=":saxophone:">
  <img src="/emoji/1F3B7.png" height="18px" width="18px">
</a>
<a id="emoji" title=":guitar:">
  <img src="/emoji/1F3B8.png" height="18px" width="18px">
</a>
<a id="emoji" title=":space_invader:">
  <img src="/emoji/1F47E.png" height="18px" width="18px">
</a>
<a id="emoji" title=":video_game:">
  <img src="/emoji/1F3AE.png" height="18px" width="18px">
</a>
<a id="emoji" title=":black_joker:">
  <img src="/emoji/1F0CF.png" height="18px" width="18px">
</a>
<a id="emoji" title=":flower_playing_cards:">
  <img src="/emoji/1F3B4.png" height="18px" width="18px">
</a>
<a id="emoji" title=":mahjong:">
  <img src="/emoji/1F004.png" height="18px" width="18px">
</a>
<a id="emoji" title=":game_die:">
  <img src="/emoji/1F3B2.png" height="18px" width="18px">
</a>
<a id="emoji" title=":dart:">
  <img src="/emoji/1F3AF.png" height="18px" width="18px">
</a>
<a id="emoji" title=":football:">
  <img src="/emoji/1F3C8.png" height="18px" width="18px">
</a>
<a id="emoji" title=":basketball:">
  <img src="/emoji/1F3C0.png" height="18px" width="18px">
</a>
<a id="emoji" title​":​soccer:">
  <img src="/emoji/26BD.png" height="18px" width="18px">
</a>
<a id="emoji" title​":​baseball:">
  <img src="/emoji/26BE.png" height="18px" width="18px">
</a>
<a id="emoji" title=":tennis:">
  <img src="/emoji/1F3BE.png" height="18px" width="18px">
</a>
<a id="emoji" title=":8ball:">
  <img src="/emoji/1F3B1.png" height="18px" width="18px">
</a>
<a id="emoji" title=":rugby_football:">
  <img src="/emoji/1F3C9.png" height="18px" width="18px">
</a>
<a id="emoji" title=":bowling:">
  <img src="/emoji/1F3B3.png" height="18px" width="18px">
</a>
<a id="emoji" title​":​golf:">
  <img src="/emoji/26F3.png" height="18px" width="18px">
</a>
<a id="emoji" title=":mountain_bicyclist:">
  <img src="/emoji/1F6B5.png" height="18px" width="18px">
</a>
<a id="emoji" title=":bicyclist:">
  <img src="/emoji/1F6B4.png" height="18px" width="18px">
</a>
<a id="emoji" title=":checkered_flag:">
  <img src="/emoji/1F3C1.png" height="18px" width="18px">
</a>
<a id="emoji" title=":horse_racing:">
  <img src="/emoji/1F3C7.png" height="18px" width="18px">
</a>
<a id="emoji" title=":trophy:">
  <img src="/emoji/1F3C6.png" height="18px" width="18px">
</a>
<a id="emoji" title=":ski:">
  <img src="/emoji/1F3BF.png" height="18px" width="18px">
</a>
<a id="emoji" title=":snowboarder:">
  <img src="/emoji/1F3C2.png" height="18px" width="18px">
</a>
<a id="emoji" title=":swimmer:">
  <img src="/emoji/1F3CA.png" height="18px" width="18px">
</a>
<a id="emoji" title=":surfer:">
  <img src="/emoji/1F3C4.png" height="18px" width="18px">
</a>
<a id="emoji" title=":fishing_pole_and_fish:">
  <img src="/emoji/1F3A3.png" height="18px" width="18px">
</a>
<a id="emoji" title​":​coffee:">
  <img src="/emoji/2615.png" height="18px" width="18px">
</a>
<a id="emoji" title=":tea:">
  <img src="/emoji/1F375.png" height="18px" width="18px">
</a>
<a id="emoji" title=":sake:">
  <img src="/emoji/1F376.png" height="18px" width="18px">
</a>
<a id="emoji" title=":baby_bottle:">
  <img src="/emoji/1F37C.png" height="18px" width="18px">
</a>
<a id="emoji" title=":beer:">
  <img src="/emoji/1F37A.png" height="18px" width="18px">
</a>
<a id="emoji" title=":beers:">
  <img src="/emoji/1F37B.png" height="18px" width="18px">
</a>
<a id="emoji" title=":cocktail:">
  <img src="/emoji/1F378.png" height="18px" width="18px">
</a>
<a id="emoji" title=":tropical_drink:">
  <img src="/emoji/1F379.png" height="18px" width="18px">
</a>
<a id="emoji" title=":wine_glass:">
  <img src="/emoji/1F377.png" height="18px" width="18px">
</a>
<a id="emoji" title=":fork_and_knife:">
  <img src="/emoji/1F374.png" height="18px" width="18px">
</a>
<a id="emoji" title=":pizza:">
  <img src="/emoji/1F355.png" height="18px" width="18px">
</a>
<a id="emoji" title=":hamburger:">
  <img src="/emoji/1F354.png" height="18px" width="18px">
</a>
<a id="emoji" title=":fries:">
  <img src="/emoji/1F35F.png" height="18px" width="18px">
</a>
<a id="emoji" title=":poultry_leg:">
  <img src="/emoji/1F357.png" height="18px" width="18px">
</a>
<a id="emoji" title=":meat_on_bone:">
  <img src="/emoji/1F356.png" height="18px" width="18px">
</a>
<a id="emoji" title=":spaghetti:">
  <img src="/emoji/1F35D.png" height="18px" width="18px">
</a>
<a id="emoji" title=":curry:">
  <img src="/emoji/1F35B.png" height="18px" width="18px">
</a>
<a id="emoji" title=":fried_shrimp:">
  <img src="/emoji/1F364.png" height="18px" width="18px">
</a>
<a id="emoji" title=":bento:">
  <img src="/emoji/1F371.png" height="18px" width="18px">
</a>
<a id="emoji" title=":sushi:">
  <img src="/emoji/1F363.png" height="18px" width="18px">
</a>
<a id="emoji" title=":fish_cake:">
  <img src="/emoji/1F365.png" height="18px" width="18px">
</a>
<a id="emoji" title=":rice_ball:">
  <img src="/emoji/1F359.png" height="18px" width="18px">
</a>
<a id="emoji" title=":rice_cracker:">
  <img src="/emoji/1F358.png" height="18px" width="18px">
</a>
<a id="emoji" title=":rice:">
  <img src="/emoji/1F35A.png" height="18px" width="18px">
</a>
<a id="emoji" title=":ramen:">
  <img src="/emoji/1F35C.png" height="18px" width="18px">
</a>
<a id="emoji" title=":stew:">
  <img src="/emoji/1F372.png" height="18px" width="18px">
</a>
<a id="emoji" title=":oden:">
  <img src="/emoji/1F362.png" height="18px" width="18px">
</a>
<a id="emoji" title=":dango:">
  <img src="/emoji/1F361.png" height="18px" width="18px">
</a>
<a id="emoji" title=":egg:">
  <img src="/emoji/1F373.png" height="18px" width="18px">
</a>
<a id="emoji" title=":bread:">
  <img src="/emoji/1F35E.png" height="18px" width="18px">
</a>
<a id="emoji" title=":doughnut:">
  <img src="/emoji/1F369.png" height="18px" width="18px">
</a>
<a id="emoji" title=":custard:">
  <img src="/emoji/1F36E.png" height="18px" width="18px">
</a>
<a id="emoji" title=":icecream:">
  <img src="/emoji/1F366.png" height="18px" width="18px">
</a>
<a id="emoji" title=":ice_cream:">
  <img src="/emoji/1F368.png" height="18px" width="18px">
</a>
<a id="emoji" title=":shaved_ice:">
  <img src="/emoji/1F367.png" height="18px" width="18px">
</a>
<a id="emoji" title=":birthday:">
  <img src="/emoji/1F382.png" height="18px" width="18px">
</a>
<a id="emoji" title=":cake:">
  <img src="/emoji/1F370.png" height="18px" width="18px">
</a>
<a id="emoji" title=":cookie:">
  <img src="/emoji/1F36A.png" height="18px" width="18px">
</a>
<a id="emoji" title=":chocolate_bar:">
  <img src="/emoji/1F36B.png" height="18px" width="18px">
</a>
<a id="emoji" title=":candy:">
  <img src="/emoji/1F36C.png" height="18px" width="18px">
</a>
<a id="emoji" title=":lollipop:">
  <img src="/emoji/1F36D.png" height="18px" width="18px">
</a>
<a id="emoji" title=":honey_pot:">
  <img src="/emoji/1F36F.png" height="18px" width="18px">
</a>
<a id="emoji" title=":apple:">
  <img src="/emoji/1F34E.png" height="18px" width="18px">
</a>
<a id="emoji" title=":green_apple:">
  <img src="/emoji/1F34F.png" height="18px" width="18px">
</a>
<a id="emoji" title=":tangerine:">
  <img src="/emoji/1F34A.png" height="18px" width="18px">
</a>
<a id="emoji" title=":lemon:">
  <img src="/emoji/1F34B.png" height="18px" width="18px">
</a>
<a id="emoji" title=":cherries:">
  <img src="/emoji/1F352.png" height="18px" width="18px">
</a>
<a id="emoji" title=":grapes:">
  <img src="/emoji/1F347.png" height="18px" width="18px">
</a>
<a id="emoji" title=":watermelon:">
  <img src="/emoji/1F349.png" height="18px" width="18px">
</a>
<a id="emoji" title=":strawberry:">
  <img src="/emoji/1F353.png" height="18px" width="18px">
</a>
<a id="emoji" title=":peach:">
  <img src="/emoji/1F351.png" height="18px" width="18px">
</a>
<a id="emoji" title=":melon:">
  <img src="/emoji/1F348.png" height="18px" width="18px">
</a>
<a id="emoji" title=":banana:">
  <img src="/emoji/1F34C.png" height="18px" width="18px">
</a>
<a id="emoji" title=":pear:">
  <img src="/emoji/1F350.png" height="18px" width="18px">
</a>
<a id="emoji" title=":pineapple:">
  <img src="/emoji/1F34D.png" height="18px" width="18px">
</a>
<a id="emoji" title=":sweet_potato:">
  <img src="/emoji/1F360.png" height="18px" width="18px">
</a>
<a id="emoji" title=":eggplant:">
  <img src="/emoji/1F346.png" height="18px" width="18px">
</a>
<a id="emoji" title=":tomato:">
  <img src="/emoji/1F345.png" height="18px" width="18px">
</a>
<a id="emoji" title=":corn:">
  <img src="/emoji/1F33D.png" height="18px" width="18px">
</a>