<a id="emoji" title=":house:">
  <img src="/emoji/1F3E0.png" height="18px" width="18px">
</a>
<a id="emoji" title=":house_with_garden:">
  <img src="/emoji/1F3E1.png" height="18px" width="18px">
</a>
<a id="emoji" title=":school:">
  <img src="/emoji/1F3EB.png" height="18px" width="18px">
</a>
<a id="emoji" title=":office:">
  <img src="/emoji/1F3E2.png" height="18px" width="18px">
</a>
<a id="emoji" title=":post_office:">
  <img src="/emoji/1F3E3.png" height="18px" width="18px">
</a>
<a id="emoji" title=":hospital:">
  <img src="/emoji/1F3E5.png" height="18px" width="18px">
</a>
<a id="emoji" title=":bank:">
  <img src="/emoji/1F3E6.png" height="18px" width="18px">
</a>
<a id="emoji" title=":convenience_store:">
  <img src="/emoji/1F3EA.png" height="18px" width="18px">
</a>
<a id="emoji" title=":love_hotel:">
  <img src="/emoji/1F3E9.png" height="18px" width="18px">
</a>
<a id="emoji" title=":hotel:">
  <img src="/emoji/1F3E8.png" height="18px" width="18px">
</a>
<a id="emoji" title=":wedding:">
  <img src="/emoji/1F492.png" height="18px" width="18px">
</a>
<a id="emoji" title=":church:">
  <img src="/emoji/26EA.png" height="18px" width="18px">
</a>
<a id="emoji" title=":department_store:">
  <img src="/emoji/1F3EC.png" height="18px" width="18px">
</a>
<a id="emoji" title=":european_post_office:">
  <img src="/emoji/1F3E4.png" height="18px" width="18px">
</a>
<a id="emoji" title=":city_sunset:">
  <img src="/emoji/1F307.png" height="18px" width="18px">
</a>
<a id="emoji" title=":city_dusk:">
  <img src="/emoji/1F306.png" height="18px" width="18px">
</a>
<a id="emoji" title=":japanese_castle:">
  <img src="/emoji/1F3EF.png" height="18px" width="18px">
</a>
<a id="emoji" title=":european_castle:">
  <img src="/emoji/1F3F0.png" height="18px" width="18px">
</a>
<a id="emoji" title=":tent:">
  <img src="/emoji/26FA.png" height="18px" width="18px">
</a>
<a id="emoji" title=":factory:">
  <img src="/emoji/1F3ED.png" height="18px" width="18px">
</a>
<a id="emoji" title=":tokyo_tower:">
  <img src="/emoji/1F5FC.png" height="18px" width="18px">
</a>
<a id="emoji" title=":japan:">
  <img src="/emoji/1F5FE.png" height="18px" width="18px">
</a>
<a id="emoji" title=":mount_fuji:">
  <img src="/emoji/1F5FB.png" height="18px" width="18px">
</a>
<a id="emoji" title=":sunrise_over_mountains:">
  <img src="/emoji/1F304.png" height="18px" width="18px">
</a>
<a id="emoji" title=":sunrise:">
  <img src="/emoji/1F305.png" height="18px" width="18px">
</a>
<a id="emoji" title=":night_with_stars:">
  <img src="/emoji/1F303.png" height="18px" width="18px">
</a>
<a id="emoji" title=":statue_of_liberty:">
  <img src="/emoji/1F5FD.png" height="18px" width="18px">
</a>
<a id="emoji" title=":bridge_at_night:">
  <img src="/emoji/1F309.png" height="18px" width="18px">
</a>
<a id="emoji" title=":carousel_horse:">
  <img src="/emoji/1F3A0.png" height="18px" width="18px">
</a>
<a id="emoji" title=":ferris_wheel:">
  <img src="/emoji/1F3A1.png" height="18px" width="18px">
</a>
<a id="emoji" title=":fountain:">
  <img src="/emoji/26F2.png" height="18px" width="18px">
</a>
<a id="emoji" title=":roller_coaster:">
  <img src="/emoji/1F3A2.png" height="18px" width="18px">
</a>
<a id="emoji" title=":ship:">
  <img src="/emoji/1F6A2.png" height="18px" width="18px">
</a>
<a id="emoji" title=":sailboat:">
  <img src="/emoji/26F5.png" height="18px" width="18px">
</a>
<a id="emoji" title=":speedboat:">
  <img src="/emoji/1F6A4.png" height="18px" width="18px">
</a>
<a id="emoji" title=":rowboat:">
  <img src="/emoji/1F6A3.png" height="18px" width="18px">
</a>
<a id="emoji" title=":anchor:">
  <img src="/emoji/2693.png" height="18px" width="18px">
</a>
<a id="emoji" title=":rocket:">
  <img src="/emoji/1F680.png" height="18px" width="18px">
</a>
<a id="emoji" title=":airplane:">
  <img src="/emoji/2708.png" height="18px" width="18px">
</a>
<a id="emoji" title=":seat:">
  <img src="/emoji/1F4BA.png" height="18px" width="18px">
</a>
<a id="emoji" title=":helicopter:">
  <img src="/emoji/1F681.png" height="18px" width="18px">
</a>
<a id="emoji" title=":steam_locomotive:">
  <img src="/emoji/1F682.png" height="18px" width="18px">
</a>
<a id="emoji" title=":tram:">
  <img src="/emoji/1F68A.png" height="18px" width="18px">
</a>
<a id="emoji" title=":station:">
  <img src="/emoji/1F689.png" height="18px" width="18px">
</a>
<a id="emoji" title=":mountain_railway:">
  <img src="/emoji/1F69E.png" height="18px" width="18px">
</a>
<a id="emoji" title=":train2:">
  <img src="/emoji/1F686.png" height="18px" width="18px">
</a>
<a id="emoji" title=":bullettrain_side:">
  <img src="/emoji/1F684.png" height="18px" width="18px">
</a>
<a id="emoji" title=":bullettrain_front:">
  <img src="/emoji/1F685.png" height="18px" width="18px">
</a>
<a id="emoji" title=":light_rail:">
  <img src="/emoji/1F688.png" height="18px" width="18px">
</a>
<a id="emoji" title=":metro:">
  <img src="/emoji/1F687.png" height="18px" width="18px">
</a>
<a id="emoji" title=":monorail:">
  <img src="/emoji/1F69D.png" height="18px" width="18px">
</a>
<a id="emoji" title=":train:">
  <img src="/emoji/1F68B.png" height="18px" width="18px">
</a>
<a id="emoji" title=":railway_car:">
  <img src="/emoji/1F683.png" height="18px" width="18px">
</a>
<a id="emoji" title=":trolleybus:">
  <img src="/emoji/1F68E.png" height="18px" width="18px">
</a>
<a id="emoji" title=":bus:">
  <img src="/emoji/1F68C.png" height="18px" width="18px">
</a>
<a id="emoji" title=":oncoming_bus:">
  <img src="/emoji/1F68D.png" height="18px" width="18px">
</a>
<a id="emoji" title=":blue_car:">
  <img src="/emoji/1F699.png" height="18px" width="18px">
</a>
<a id="emoji" title=":oncoming_automobile:">
  <img src="/emoji/1F698.png" height="18px" width="18px">
</a>
<a id="emoji" title=":red_car:">
  <img src="/emoji/1F697.png" height="18px" width="18px">
</a>
<a id="emoji" title=":taxi:">
  <img src="/emoji/1F695.png" height="18px" width="18px">
</a>
<a id="emoji" title=":oncoming_taxi:">
  <img src="/emoji/1F696.png" height="18px" width="18px">
</a>
<a id="emoji" title=":articulated_lorry:">
  <img src="/emoji/1F69B.png" height="18px" width="18px">
</a>
<a id="emoji" title=":truck:">
  <img src="/emoji/1F69A.png" height="18px" width="18px">
</a>
<a id="emoji" title=":rotating_light:">
  <img src="/emoji/1F6A8.png" height="18px" width="18px">
</a>
<a id="emoji" title=":police_car:">
  <img src="/emoji/1F693.png" height="18px" width="18px">
</a>
<a id="emoji" title=":oncoming_police_car:">
  <img src="/emoji/1F694.png" height="18px" width="18px">
</a>
<a id="emoji" title=":fire_engine:">
  <img src="/emoji/1F692.png" height="18px" width="18px">
</a>
<a id="emoji" title=":ambulance:">
  <img src="/emoji/1F691.png" height="18px" width="18px">
</a>
<a id="emoji" title=":minibus:">
  <img src="/emoji/1F690.png" height="18px" width="18px">
</a>
<a id="emoji" title=":bike:">
  <img src="/emoji/1F6B2.png" height="18px" width="18px">
</a>
<a id="emoji" title=":aerial_tramway:">
  <img src="/emoji/1F6A1.png" height="18px" width="18px">
</a>
<a id="emoji" title=":suspension_railway:">
  <img src="/emoji/1F69F.png" height="18px" width="18px">
</a>
<a id="emoji" title=":mountain_cableway:">
  <img src="/emoji/1F6A0.png" height="18px" width="18px">
</a>
<a id="emoji" title=":tractor:">
  <img src="/emoji/1F69C.png" height="18px" width="18px">
</a>
<a id="emoji" title=":barber:">
  <img src="/emoji/1F488.png" height="18px" width="18px">
</a>
<a id="emoji" title=":busstop:">
  <img src="/emoji/1F68F.png" height="18px" width="18px">
</a>
<a id="emoji" title=":ticket:">
  <img src="/emoji/1F3AB.png" height="18px" width="18px">
</a>
<a id="emoji" title=":vertical_traffic_light:">
  <img src="/emoji/1F6A6.png" height="18px" width="18px">
</a>
<a id="emoji" title=":traffic_light:">
  <img src="/emoji/1F6A5.png" height="18px" width="18px">
</a>
<a id="emoji" title=":warning:">
  <img src="/emoji/26A0.png" height="18px" width="18px">
</a>
<a id="emoji" title=":construction:">
  <img src="/emoji/1F6A7.png" height="18px" width="18px">
</a>
<a id="emoji" title=":beginner:">
  <img src="/emoji/1F530.png" height="18px" width="18px">
</a>
<a id="emoji" title=":fuelpump:">
  <img src="/emoji/26FD.png" height="18px" width="18px">
</a>
<a id="emoji" title=":izakaya_lantern:">
  <img src="/emoji/1F3EE.png" height="18px" width="18px">
</a>
<a id="emoji" title=":slot_machine:">
  <img src="/emoji/1F3B0.png" height="18px" width="18px">
</a>
<a id="emoji" title=":hotsprings:">
  <img src="/emoji/2668.png" height="18px" width="18px">
</a>
<a id="emoji" title=":moyai:">
  <img src="/emoji/1F5FF.png" height="18px" width="18px">
</a>
<a id="emoji" title=":circus_tent:">
  <img src="/emoji/1F3AA.png" height="18px" width="18px">
</a>
<a id="emoji" title=":performing_arts:">
  <img src="/emoji/1F3AD.png" height="18px" width="18px">
</a>
<a id="emoji" title=":round_pushpin:">
  <img src="/emoji/1F4CD.png" height="18px" width="18px">
</a>
<a id="emoji" title=":triangular_flag_on_post:">
  <img src="/emoji/1F6A9.png" height="18px" width="18px">
</a>
<a id="emoji" title=":cn:">
  <img src="/emoji/1F1E8-1F1F3.png" height="18px" width="18px">
</a>
<a id="emoji" title=":us:">
  <img src="/emoji/1F1FA-1F1F8.png" height="18px" width="18px">
</a>
<a id="emoji" title=":in:">
  <img src="/emoji/1F1EE-1F1F3.png" height="18px" width="18px">
</a>
<a id="emoji" title=":jp:">
  <img src="/emoji/1F1EF-1F1F5.png" height="18px" width="18px">
</a>
<a id="emoji" title=":br:">
  <img src="/emoji/1F1E7-1F1F7.png" height="18px" width="18px">
</a>
<a id="emoji" title=":ru:">
  <img src="/emoji/1F1F7-1F1FA.png" height="18px" width="18px">
</a>
<a id="emoji" title=":de:">
  <img src="/emoji/1F1E9-1F1EA.png" height="18px" width="18px">
</a>
<a id="emoji" title=":ng:">
  <img src="/emoji/1F1F3-1F1EC.png" height="18px" width="18px">
</a>
<a id="emoji" title=":gb:">
  <img src="/emoji/1F1EC-1F1E7.png" height="18px" width="18px">
</a>
<a id="emoji" title=":fr:">
  <img src="/emoji/1F1EB-1F1F7.png" height="18px" width="18px">
</a>
<a id="emoji" title=":mx:">
  <img src="/emoji/1F1F2-1F1FD.png" height="18px" width="18px">
</a>
<a id="emoji" title=":kr:">
  <img src="/emoji/1F1F0-1F1F7.png" height="18px" width="18px">
</a>
<a id="emoji" title=":id:">
  <img src="/emoji/1F1EE-1F1E9.png" height="18px" width="18px">
</a>
<a id="emoji" title=":ph:">
  <img src="/emoji/1F1F5-1F1ED.png" height="18px" width="18px">
</a>
<a id="emoji" title=":eg:">
  <img src="/emoji/1F1EA-1F1EC.png" height="18px" width="18px">
</a>
<a id="emoji" title=":vn:">
  <img src="/emoji/1F1FB-1F1F3.png" height="18px" width="18px">
</a>
<a id="emoji" title=":tr:">
  <img src="/emoji/1F1F9-1F1F7.png" height="18px" width="18px">
</a>
<a id="emoji" title=":it:">
  <img src="/emoji/1F1EE-1F1F9.png" height="18px" width="18px">
</a>
<a id="emoji" title=":es:">
  <img src="/emoji/1F1EA-1F1F8.png" height="18px" width="18px">
</a>
<a id="emoji" title=":ca:">
  <img src="/emoji/1F1E8-1F1E6.png" height="18px" width="18px">
</a>
<a id="emoji" title=":pl:">
  <img src="/emoji/1F1F5-1F1F1.png" height="18px" width="18px">
</a>
<a id="emoji" title=":ar:">
  <img src="/emoji/1F1E6-1F1F7.png" height="18px" width="18px">
</a>
<a id="emoji" title=":co:">
  <img src="/emoji/1F1E8-1F1F4.png" height="18px" width="18px">
</a>
<a id="emoji" title=":ir:">
  <img src="/emoji/1F1EE-1F1F7.png" height="18px" width="18px">
</a>
<a id="emoji" title=":za:">
  <img src="/emoji/1F1FF-1F1E6.png" height="18px" width="18px">
</a>
<a id="emoji" title=":my:">
  <img src="/emoji/1F1F2-1F1FE.png" height="18px" width="18px">
</a>
<a id="emoji" title=":pk:">
  <img src="/emoji/1F1F5-1F1F0.png" height="18px" width="18px">
</a>
<a id="emoji" title=":au:">
  <img src="/emoji/1F1E6-1F1FA.png" height="18px" width="18px">
</a>
<a id="emoji" title=":th:">
  <img src="/emoji/1F1F9-1F1ED.png" height="18px" width="18px">
</a>
<a id="emoji" title=":ma:">
  <img src="/emoji/1F1F2-1F1E6.png" height="18px" width="18px">
</a>
<a id="emoji" title=":tw:">
  <img src="/emoji/1F1F9-1F1FC.png" height="18px" width="18px">
</a>
<a id="emoji" title=":nl:">
  <img src="/emoji/1F1F3-1F1F1.png" height="18px" width="18px">
</a>
<a id="emoji" title=":ua:">
  <img src="/emoji/1F1FA-1F1E6.png" height="18px" width="18px">
</a>
<a id="emoji" title=":sa:">
  <img src="/emoji/1F1F8-1F1E6.png" height="18px" width="18px">
</a>
<a id="emoji" title=":ke:">
  <img src="/emoji/1F1F0-1F1EA.png" height="18px" width="18px">
</a>
<a id="emoji" title=":ve:">
  <img src="/emoji/1F1FB-1F1EA.png" height="18px" width="18px">
</a>
<a id="emoji" title=":pe:">
  <img src="/emoji/1F1F5-1F1EA.png" height="18px" width="18px">
</a>
<a id="emoji" title=":ro:">
  <img src="/emoji/1F1F7-1F1F4.png" height="18px" width="18px">
</a>
<a id="emoji" title=":cl:">
  <img src="/emoji/1F1E8-1F1F1.png" height="18px" width="18px">
</a>
<a id="emoji" title=":uz:">
  <img src="/emoji/1F1FA-1F1FF.png" height="18px" width="18px">
</a>
<a id="emoji" title=":bd:">
  <img src="/emoji/1F1E7-1F1E9.png" height="18px" width="18px">
</a>
<a id="emoji" title=":kz:">
  <img src="/emoji/1F1F0-1F1FF.png" height="18px" width="18px">
</a>
<a id="emoji" title=":be:">
  <img src="/emoji/1F1E7-1F1EA.png" height="18px" width="18px">
</a>
<a id="emoji" title=":se:">
  <img src="/emoji/1F1F8-1F1EA.png" height="18px" width="18px">
</a>
<a id="emoji" title=":cz:">
  <img src="/emoji/1F1E8-1F1FF.png" height="18px" width="18px">
</a>
<a id="emoji" title=":sd:">
  <img src="/emoji/1F1F8-1F1E9.png" height="18px" width="18px">
</a>
<a id="emoji" title=":hu:">
  <img src="/emoji/1F1ED-1F1FA.png" height="18px" width="18px">
</a>
<a id="emoji" title=":pt:">
  <img src="/emoji/1F1F5-1F1F9.png" height="18px" width="18px">
</a>
<a id="emoji" title=":ch:">
  <img src="/emoji/1F1E8-1F1ED.png" height="18px" width="18px">
</a>
<a id="emoji" title=":at:">
  <img src="/emoji/1F1E6-1F1F9.png" height="18px" width="18px">
</a>
<a id="emoji" title=":tz:">
  <img src="/emoji/1F1F9-1F1FF.png" height="18px" width="18px">
</a>