<a title=":house:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3E0"></use>
  </svg>
</a>
<a title=":house_with_garden:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3E1"></use>
  </svg>
</a>
<a title=":school:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3EB"></use>
  </svg>
</a>
<a title=":office:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3E2"></use>
  </svg>
</a>
<a title=":post_office:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3E3"></use>
  </svg>
</a>
<a title=":hospital:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3E5"></use>
  </svg>
</a>
<a title=":bank:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3E6"></use>
  </svg>
</a>
<a title=":convenience_store:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3EA"></use>
  </svg>
</a>
<a title=":love_hotel:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3E9"></use>
  </svg>
</a>
<a title=":hotel:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3E8"></use>
  </svg>
</a>
<a title=":wedding:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F492"></use>
  </svg>
</a>
<a title=":church:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-26EA"></use>
  </svg>
</a>
<a title=":department_store:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3EC"></use>
  </svg>
</a>
<a title=":european_post_office:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3E4"></use>
  </svg>
</a>
<a title=":city_sunset:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F307"></use>
  </svg>
</a>
<a title=":city_dusk:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F306"></use>
  </svg>
</a>
<a title=":japanese_castle:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3EF"></use>
  </svg>
</a>
<a title=":european_castle:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3F0"></use>
  </svg>
</a>
<a title=":tent:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-26FA"></use>
  </svg>
</a>
<a title=":factory:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3ED"></use>
  </svg>
</a>
<a title=":tokyo_tower:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F5FC"></use>
  </svg>
</a>
<a title=":japan:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F5FE"></use>
  </svg>
</a>
<a title=":mount_fuji:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F5FB"></use>
  </svg>
</a>
<a title=":sunrise_over_mountains:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F304"></use>
  </svg>
</a>
<a title=":sunrise:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F305"></use>
  </svg>
</a>
<a title=":night_with_stars:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F303"></use>
  </svg>
</a>
<a title=":statue_of_liberty:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F5FD"></use>
  </svg>
</a>
<a title=":bridge_at_night:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F309"></use>
  </svg>
</a>
<a title=":carousel_horse:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3A0"></use>
  </svg>
</a>
<a title=":ferris_wheel:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3A1"></use>
  </svg>
</a>
<a title=":fountain:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-26F2"></use>
  </svg>
</a>
<a title=":roller_coaster:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3A2"></use>
  </svg>
</a>
<a title=":ship:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F6A2"></use>
  </svg>
</a>
<a title=":sailboat:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-26F5"></use>
  </svg>
</a>
<a title=":speedboat:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F6A4"></use>
  </svg>
</a>
<a title=":rowboat:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F6A3"></use>
  </svg>
</a>
<a title=":anchor:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-2693"></use>
  </svg>
</a>
<a title=":rocket:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F680"></use>
  </svg>
</a>
<a title=":airplane:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-2708"></use>
  </svg>
</a>
<a title=":seat:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4BA"></use>
  </svg>
</a>
<a title=":helicopter:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F681"></use>
  </svg>
</a>
<a title=":steam_locomotive:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F682"></use>
  </svg>
</a>
<a title=":tram:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F68A"></use>
  </svg>
</a>
<a title=":station:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F689"></use>
  </svg>
</a>
<a title=":mountain_railway:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F69E"></use>
  </svg>
</a>
<a title=":train2:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F686"></use>
  </svg>
</a>
<a title=":bullettrain_side:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F684"></use>
  </svg>
</a>
<a title=":bullettrain_front:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F685"></use>
  </svg>
</a>
<a title=":light_rail:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F688"></use>
  </svg>
</a>
<a title=":metro:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F687"></use>
  </svg>
</a>
<a title=":monorail:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F69D"></use>
  </svg>
</a>
<a title=":train:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F68B"></use>
  </svg>
</a>
<a title=":railway_car:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F683"></use>
  </svg>
</a>
<a title=":trolleybus:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F68E"></use>
  </svg>
</a>
<a title=":bus:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F68C"></use>
  </svg>
</a>
<a title=":oncoming_bus:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F68D"></use>
  </svg>
</a>
<a title=":blue_car:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F699"></use>
  </svg>
</a>
<a title=":oncoming_automobile:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F698"></use>
  </svg>
</a>
<a title=":red_car:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F697"></use>
  </svg>
</a>
<a title=":taxi:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F695"></use>
  </svg>
</a>
<a title=":oncoming_taxi:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F696"></use>
  </svg>
</a>
<a title=":articulated_lorry:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F69B"></use>
  </svg>
</a>
<a title=":truck:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F69A"></use>
  </svg>
</a>
<a title=":rotating_light:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F6A8"></use>
  </svg>
</a>
<a title=":police_car:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F693"></use>
  </svg>
</a>
<a title=":oncoming_police_car:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F694"></use>
  </svg>
</a>
<a title=":fire_engine:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F692"></use>
  </svg>
</a>
<a title=":ambulance:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F691"></use>
  </svg>
</a>
<a title=":minibus:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F690"></use>
  </svg>
</a>
<a title=":bike:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F6B2"></use>
  </svg>
</a>
<a title=":aerial_tramway:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F6A1"></use>
  </svg>
</a>
<a title=":suspension_railway:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F69F"></use>
  </svg>
</a>
<a title=":mountain_cableway:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F6A0"></use>
  </svg>
</a>
<a title=":tractor:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F69C"></use>
  </svg>
</a>
<a title=":barber:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F488"></use>
  </svg>
</a>
<a title=":busstop:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F68F"></use>
  </svg>
</a>
<a title=":ticket:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3AB"></use>
  </svg>
</a>
<a title=":vertical_traffic_light:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F6A6"></use>
  </svg>
</a>
<a title=":traffic_light:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F6A5"></use>
  </svg>
</a>
<a title=":warning:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-26A0"></use>
  </svg>
</a>
<a title=":construction:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F6A7"></use>
  </svg>
</a>
<a title=":beginner:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F530"></use>
  </svg>
</a>
<a title=":fuelpump:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-26FD"></use>
  </svg>
</a>
<a title=":izakaya_lantern:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3EE"></use>
  </svg>
</a>
<a title=":slot_machine:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3B0"></use>
  </svg>
</a>
<a title=":hotsprings:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-2668"></use>
  </svg>
</a>
<a title=":moyai:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F5FF"></use>
  </svg>
</a>
<a title=":circus_tent:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3AA"></use>
  </svg>
</a>
<a title=":performing_arts:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3AD"></use>
  </svg>
</a>
<a title=":round_pushpin:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4CD"></use>
  </svg>
</a>
<a title=":triangular_flag_on_post:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F6A9"></use>
  </svg>
</a>
<a title=":cn:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1E8-1F1F3"></use>
  </svg>
</a>
<a title=":us:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1FA-1F1F8"></use>
  </svg>
</a>
<a title=":in:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1EE-1F1F3"></use>
  </svg>
</a>
<a title=":jp:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1EF-1F1F5"></use>
  </svg>
</a>
<a title=":br:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1E7-1F1F7"></use>
  </svg>
</a>
<a title=":ru:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1F7-1F1FA"></use>
  </svg>
</a>
<a title=":de:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1E9-1F1EA"></use>
  </svg>
</a>
<a title=":ng:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1F3-1F1EC"></use>
  </svg>
</a>
<a title=":gb:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1EC-1F1E7"></use>
  </svg>
</a>
<a title=":fr:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1EB-1F1F7"></use>
  </svg>
</a>
<a title=":mx:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1F2-1F1FD"></use>
  </svg>
</a>
<a title=":kr:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1F0-1F1F7"></use>
  </svg>
</a>
<a title=":id:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1EE-1F1E9"></use>
  </svg>
</a>
<a title=":ph:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1F5-1F1ED"></use>
  </svg>
</a>
<a title=":eg:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1EA-1F1EC"></use>
  </svg>
</a>
<a title=":vn:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1FB-1F1F3"></use>
  </svg>
</a>
<a title=":tr:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1F9-1F1F7"></use>
  </svg>
</a>
<a title=":it:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1EE-1F1F9"></use>
  </svg>
</a>
<a title=":es:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1EA-1F1F8"></use>
  </svg>
</a>
<a title=":ca:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1E8-1F1E6"></use>
  </svg>
</a>
<a title=":pl:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1F5-1F1F1"></use>
  </svg>
</a>
<a title=":ar:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1E6-1F1F7"></use>
  </svg>
</a>
<a title=":co:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1E8-1F1F4"></use>
  </svg>
</a>
<a title=":ir:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1EE-1F1F7"></use>
  </svg>
</a>
<a title=":za:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1FF-1F1E6"></use>
  </svg>
</a>
<a title=":my:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1F2-1F1FE"></use>
  </svg>
</a>
<a title=":pk:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1F5-1F1F0"></use>
  </svg>
</a>
<a title=":au:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1E6-1F1FA"></use>
  </svg>
</a>
<a title=":th:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1F9-1F1ED"></use>
  </svg>
</a>
<a title=":ma:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1F2-1F1E6"></use>
  </svg>
</a>
<a title=":tw:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1F9-1F1FC"></use>
  </svg>
</a>
<a title=":nl:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1F3-1F1F1"></use>
  </svg>
</a>
<a title=":ua:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1FA-1F1E6"></use>
  </svg>
</a>
<a title=":sa:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1F8-1F1E6"></use>
  </svg>
</a>
<a title=":ke:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1F0-1F1EA"></use>
  </svg>
</a>
<a title=":ve:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1FB-1F1EA"></use>
  </svg>
</a>
<a title=":pe:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1F5-1F1EA"></use>
  </svg>
</a>
<a title=":ro:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1F7-1F1F4"></use>
  </svg>
</a>
<a title=":cl:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1E8-1F1F1"></use>
  </svg>
</a>
<a title=":uz:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1FA-1F1FF"></use>
  </svg>
</a>
<a title=":bd:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1E7-1F1E9"></use>
  </svg>
</a>
<a title=":kz:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1F0-1F1FF"></use>
  </svg>
</a>
<a title=":be:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1E7-1F1EA"></use>
  </svg>
</a>
<a title=":se:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1F8-1F1EA"></use>
  </svg>
</a>
<a title=":cz:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1E8-1F1FF"></use>
  </svg>
</a>
<a title=":sd:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1F8-1F1E9"></use>
  </svg>
</a>
<a title=":hu:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1ED-1F1FA"></use>
  </svg>
</a>
<a title=":pt:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1F5-1F1F9"></use>
  </svg>
</a>
<a title=":ch:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1E8-1F1ED"></use>
  </svg>
</a>
<a title=":at:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1E6-1F1F9"></use>
  </svg>
</a>
<a title=":tz:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F1F9-1F1FF"></use>
  </svg>
</a>