<a title=":smiley:">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F603"></use>
  </svg>
</a>
<a title=​":​grinning:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F600"></use>
  </svg>
</a>
<a title=​":​blush:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F60A"></use>
  </svg>
</a>
<a title​":​relaxed:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-263A"></use>
  </svg>
</a>
<a title=​":​wink:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F609"></use>
  </svg>
</a>
<a title=​":​heart_eyes:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F60D"></use>
  </svg>
</a>
<a title=​":​kissing_heart:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F618"></use>
  </svg>
</a>
<a title=​":​kissing_closed_eyes:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F61A"></use>
  </svg>
</a>
<a title=​":​kissing:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F617"></use>
  </svg>
</a>
<a title=​":​kissing_smiling_eyes:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F619"></use>
  </svg>
</a>
<a title=​":​stuck_out_tongue_winking_eye:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F61C"></use>
  </svg>
</a>
<a title=​":​stuck_out_tongue_closed_eyes:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F61D"></use>
  </svg>
</a>
<a title=​":​stuck_out_tongue:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F61B"></use>
  </svg>
</a>
<a title=​":​flushed:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F633"></use>
  </svg>
</a>
<a title=​":​grin:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F601"></use>
  </svg>
</a>
<a title=​":​pensive:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F614"></use>
  </svg>
</a>
<a title=​":​relieved:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F60C"></use>
  </svg>
</a>
<a title=​":​unamused:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F612"></use>
  </svg>
</a>
<a title=​":​disappointed:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F61E"></use>
  </svg>
</a>
<a title=​":​persevere:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F623"></use>
  </svg>
</a>
<a title=​":​cry:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F622"></use>
  </svg>
</a>
<a title=​":​joy:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F602"></use>
  </svg>
</a>
<a title=​":​sob:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F62D"></use>
  </svg>
</a>
<a title=​":​sleepy:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F62A"></use>
  </svg>
</a>
<a title=​":​disappointed_relieved:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F625"></use>
  </svg>
</a>
<a title=​":​cold_sweat:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F630"></use>
  </svg>
</a>
<a title=​":​sweat_smile:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F605"></use>
  </svg>
</a>
<a title=​":​sweat:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F613"></use>
  </svg>
</a>
<a title=​":​weary:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F629"></use>
  </svg>
</a>
<a title=​":​tired_face:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F62B"></use>
  </svg>
</a>
<a title=​":​fearful:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F628"></use>
  </svg>
</a>
<a title=​":​scream:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F631"></use>
  </svg>
</a>
<a title=​":​angry:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F620"></use>
  </svg>
</a>
<a title=​":​rage:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F621"></use>
  </svg>
</a>
<a title=​":​triumph:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F624"></use>
  </svg>
</a>
<a title=​":​confounded:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F616"></use>
  </svg>
</a>
<a title=​":​laughing:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F606"></use>
  </svg>
</a>
<a title=​":​yum:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F60B"></use>
  </svg>
</a>
<a title=​":​mask:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F637"></use>
  </svg>
</a>
<a title=​":​sunglasses:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F60E"></use>
  </svg>
</a>
<a title=​":​sleeping:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F634"></use>
  </svg>
</a>
<a title=​":​dizzy_face:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F635"></use>
  </svg>
</a>
<a title=​":​astonished:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F632"></use>
  </svg>
</a>
<a title=​":​worried:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F61F"></use>
  </svg>
</a>
<a title=​":​frowning:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F626"></use>
  </svg>
</a>
<a title=​":​anguished:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F627"></use>
  </svg>
</a>
<a title=​":​smiling_imp:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F608"></use>
  </svg>
</a>
<a title=​":​imp:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F47F"></use>
  </svg>
</a>
<a title=​":​open_mouth:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F62E"></use>
  </svg>
</a>
<a title=​":​grimacing:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F62C"></use>
  </svg>
</a>
<a title=​":​neutral_face:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F610"></use>
  </svg>
</a>
<a title=​":​confused:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F615"></use>
  </svg>
</a>
<a title=​":​hushed:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F62F"></use>
  </svg>
</a>
<a title=​":​no_mouth:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F636"></use>
  </svg>
</a>
<a title=​":​innocent:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F607"></use>
  </svg>
</a>
<a title=​":​smirk:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F60F"></use>
  </svg>
</a>
<a title=​":​expressionless:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F611"></use>
  </svg>
</a>
<a title=​":​man_with_gua_pi_mao:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F472"></use>
  </svg>
</a>
<a title=​":​man_with_turban:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F473"></use>
  </svg>
</a>
<a title=​":​cop:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F46E"></use>
  </svg>
</a>
<a title=​":​construction_worker:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F477"></use>
  </svg>
</a>
<a title=​":​guardsman:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F482"></use>
  </svg>
</a>
<a title=​":​baby:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F476"></use>
  </svg>
</a>
<a title=​":​boy:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F466"></use>
  </svg>
</a>
<a title=​":​girl:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F467"></use>
  </svg>
</a>
<a title=​":​man:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F468"></use>
  </svg>
</a>
<a title=​":​woman:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F469"></use>
  </svg>
</a>
<a title=​":​older_man:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F474"></use>
  </svg>
</a>
<a title=​":​older_woman:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F475"></use>
  </svg>
</a>
<a title=​":​person_with_blond_hair:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F471"></use>
  </svg>
</a>
<a title=​":​angel:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F47C"></use>
  </svg>
</a>
<a title=​":​princess:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F478"></use>
  </svg>
</a>
<a title=​":​smiley_cat:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F63A"></use>
  </svg>
</a>
<a title=​":​smile_cat:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F638"></use>
  </svg>
</a>
<a title=​":​heart_eyes_cat:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F63B"></use>
  </svg>
</a>
<a title=​":​kissing_cat:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F63D"></use>
  </svg>
</a>
<a title=​":​smirk_cat:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F63C"></use>
  </svg>
</a>
<a title=​":​scream_cat:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F640"></use>
  </svg>
</a>
<a title=​":​crying_cat_face:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F63F"></use>
  </svg>
</a>
<a title=​":​joy_cat:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F639"></use>
  </svg>
</a>
<a title=​":​pouting_cat:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F63E"></use>
  </svg>
</a>
<a title=​":​japanese_ogre:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F479"></use>
  </svg>
</a>
<a title=​":​japanese_goblin:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F47A"></use>
  </svg>
</a>
<a title=​":​see_no_evil:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F648"></use>
  </svg>
</a>
<a title=​":​hear_no_evil:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F649"></use>
  </svg>
</a>
<a title=​":​speak_no_evil:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F64A"></use>
  </svg>
</a>
<a title=​":​skull:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F480"></use>
  </svg>
</a>
<a title=​":​alien:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F47D"></use>
  </svg>
</a>
<a title=​":​poop:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4A9"></use>
  </svg>
</a>
<a title=​":​fire:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F525"></use>
  </svg>
</a>
<a title​":​sparkles:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-2728"></use>
  </svg>
</a>
<a title=​":​star2:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F31F"></use>
  </svg>
</a>
<a title=​":​dizzy:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4AB"></use>
  </svg>
</a>
<a title=​":​boom:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4A5"></use>
  </svg>
</a>
<a title=​":​anger:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4A2"></use>
  </svg>
</a>
<a title=​":​sweat_drops:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4A6"></use>
  </svg>
</a>
<a title=​":​droplet:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4A7"></use>
  </svg>
</a>
<a title=​":​zzz:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4A4"></use>
  </svg>
</a>
<a title=​":​dash:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4A8"></use>
  </svg>
</a>
<a title=​":​ear:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F442"></use>
  </svg>
</a>
<a title=​":​eyes:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F440"></use>
  </svg>
</a>
<a title=​":​nose:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F443"></use>
  </svg>
</a>
<a title=​":​tongue:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F445"></use>
  </svg>
</a>
<a title=​":​lips:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F444"></use>
  </svg>
</a>
<a title=​":​thumbsup:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F44D"></use>
  </svg>
</a>
<a title=​":​thumbsdown:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F44E"></use>
  </svg>
</a>
<a title=​":​ok_hand:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F44C"></use>
  </svg>
</a>
<a title=​":​punch:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F44A"></use>
  </svg>
</a>
<a title​":​fist:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-270A"></use>
  </svg>
</a>
<a title​":​v:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-270C"></use>
  </svg>
</a>
<a title=​":​wave:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F44B"></use>
  </svg>
</a>
<a title​":​raised_hand:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-270B"></use>
  </svg>
</a>
<a title=​":​open_hands:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F450"></use>
  </svg>
</a>
<a title=​":​point_up_2:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F446"></use>
  </svg>
</a>
<a title=​":​point_down:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F447"></use>
  </svg>
</a>
<a title=​":​point_right:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F449"></use>
  </svg>
</a>
<a title=​":​point_left:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F448"></use>
  </svg>
</a>
<a title=​":​raised_hands:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F64C"></use>
  </svg>
</a>
<a title=​":​pray:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F64F"></use>
  </svg>
</a>
<a title​":​point_up:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-261D"></use>
  </svg>
</a>
<a title=​":​clap:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F44F"></use>
  </svg>
</a>
<a title=​":​muscle:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4AA"></use>
  </svg>
</a>
<a title=​":​walking:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F6B6"></use>
  </svg>
</a>
<a title=​":​runner:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3C3"></use>
  </svg>
</a>
<a title=​":​dancer:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F483"></use>
  </svg>
</a>
<a title=​":​couple:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F46B"></use>
  </svg>
</a>
<a title=​":​family:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F46A"></use>
  </svg>
</a>
<a title=​":​two_men_holding_hands:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F46C"></use>
  </svg>
</a>
<a title=​":​two_women_holding_hands:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F46D"></use>
  </svg>
</a>
<a title=​":​couplekiss:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F48F"></use>
  </svg>
</a>
<a title=​":​couple_with_heart:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F491"></use>
  </svg>
</a>
<a title=​":​dancers:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F46F"></use>
  </svg>
</a>
<a title=​":​ok_woman:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F646"></use>
  </svg>
</a>
<a title=​":​no_good:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F645"></use>
  </svg>
</a>
<a title=​":​information_desk_person:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F481"></use>
  </svg>
</a>
<a title=​":​raising_hand:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F64B"></use>
  </svg>
</a>
<a title=​":​massage:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F486"></use>
  </svg>
</a>
<a title=​":​haircut:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F487"></use>
  </svg>
</a>
<a title=​":​nail_care:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F485"></use>
  </svg>
</a>
<a title=​":​bride_with_veil:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F470"></use>
  </svg>
</a>
<a title=​":​person_with_pouting_face:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F64E"></use>
  </svg>
</a>
<a title=​":​person_frowning:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F64D"></use>
  </svg>
</a>
<a title=​":​bow:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F647"></use>
  </svg>
</a>
<a title=​":​tophat:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3A9"></use>
  </svg>
</a>
<a title=​":​crown:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F451"></use>
  </svg>
</a>
<a title=​":​womans_hat:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F452"></use>
  </svg>
</a>
<a title=​":​athletic_shoe:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F45F"></use>
  </svg>
</a>
<a title=​":​mans_shoe:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F45E"></use>
  </svg>
</a>
<a title=​":​sandal:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F461"></use>
  </svg>
</a>
<a title=​":​high_heel:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F460"></use>
  </svg>
</a>
<a title=​":​boot:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F462"></use>
  </svg>
</a>
<a title=​":​shirt:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F455"></use>
  </svg>
</a>
<a title=​":​necktie:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F454"></use>
  </svg>
</a>
<a title=​":​womans_clothes:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F45A"></use>
  </svg>
</a>
<a title=​":​dress:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F457"></use>
  </svg>
</a>
<a title=​":​running_shirt_with_sash:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F3BD"></use>
  </svg>
</a>
<a title=​":​jeans:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F456"></use>
  </svg>
</a>
<a title=​":​kimono:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F458"></use>
  </svg>
</a>
<a title=​":​bikini:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F459"></use>
  </svg>
</a>
<a title=​":​briefcase:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4BC"></use>
  </svg>
</a>
<a title=​":​handbag:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F45C"></use>
  </svg>
</a>
<a title=​":​pouch:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F45D"></use>
  </svg>
</a>
<a title=​":​purse:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F45B"></use>
  </svg>
</a>
<a title=​":​eyeglasses:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F453"></use>
  </svg>
</a>
<a title=​":​ribbon:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F380"></use>
  </svg>
</a>
<a title=​":​closed_umbrella:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F302"></use>
  </svg>
</a>
<a title=​":​lipstick:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F484"></use>
  </svg>
</a>
<a title=​":​yellow_heart:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F49B"></use>
  </svg>
</a>
<a title=​":​blue_heart:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F499"></use>
  </svg>
</a>
<a title=​":​purple_heart:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F49C"></use>
  </svg>
</a>
<a title=​":​green_heart:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F49A"></use>
  </svg>
</a>
<a title​":​heart:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-2764"></use>
  </svg>
</a>
<a title=​":​broken_heart:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F494"></use>
  </svg>
</a>
<a title=​":​heartpulse:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F497"></use>
  </svg>
</a>
<a title=​":​heartbeat:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F493"></use>
  </svg>
</a>
<a title=​":​two_hearts:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F495"></use>
  </svg>
</a>
<a title=​":​sparkling_heart:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F496"></use>
  </svg>
</a>
<a title=​":​revolving_hearts:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F49E"></use>
  </svg>
</a>
<a title=​":​cupid:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F498"></use>
  </svg>
</a>
<a title=​":​love_letter:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F48C"></use>
  </svg>
</a>
<a title=​":​kiss:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F48B"></use>
  </svg>
</a>
<a title=​":​ring:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F48D"></use>
  </svg>
</a>
<a title=​":​gem:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F48E"></use>
  </svg>
</a>
<a title=​":​bust_in_silhouette:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F464"></use>
  </svg>
</a>
<a title=​":​busts_in_silhouette:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F465"></use>
  </svg>
</a>
<a title=​":​speech_balloon:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4AC"></use>
  </svg>
</a>
<a title=​":​footprints:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F463"></use>
  </svg>
</a>
<a title=​":​thought_balloon:​">
  <svg class="emoji">
    <use xlink:href="/emoji/emojione.sprites.svg#emoji-1F4AD"></use>
  </svg>
</a>
 
