<div id="advanced_search" style="display: none">

  <div class="row collapse">
    <div class="small-2 columns" id="dp-start">
      <%= text_field_tag :search_startdate, params[:search_startdate], placeholder: t('events.attributes.start_time'), id: 'search_startdate' %>   
    </div>

    <div class="small-1 columns">
      <i class="fi-calendar button tiny" style="font-size: 14px"></i>
    </div>

    <div class="small-2 columns" id="dp-end">
      <%= text_field_tag :search_enddate, params[:search_enddate], placeholder: t('events.attributes.end_time'), id: 'search_enddate' %>
    </div>

    <div class="small-1 columns end">
      <i class="fi-calendar button tiny" style="font-size: 14px"></i>
    </div>
  </div>

  <div class="row">
    <div class="small-3 columns">
      <%= text_field_tag :search_created_by, params[:search_created_by], placeholder: t('events.attributes.created_by'), id: 'search_created_by' %>
    </div>
    <div class="small-3 columns end">
      <%= text_field_tag :search_updated_by, params[:search_updated_by], placeholder: t('events.attributes.updated_by'), id: 'search_updated_by' %>
    </div>
  </div>

</div>