<div class="row">
  <div class="small-3 columns">
    <%= will_paginate @events %>
  </div>

  <div class="small-1 columns">
    <%= form_tag admin_events_path, method: :get, remote: true do %>
      <%= number_field_tag :per_page, Setting.admin_events_pagination, in: 1...200000001, title: t('common.per_page') %>
  </div>

  <div class="hide">
    <%= submit_tag 'submit', name: nil %>
  </div>
  <% end %>
</div>