<br>
<div class="row">
  <div class="small-12">
    <p>
      <strong><%= t('comments.attributes.content') %>:</strong>
      <%= @comment.content %>
    </p>

    <p>
      <strong><%= t('comments.attributes.user') %>:</strong>
      <%= @comment.created_by.name %>
    </p>
  </div>
</div>