<br>
<div class="row">
  <% if can? :create, Event %>
    <%= link_to t('events.manage_events'), admin_events_path, class: "button small" %>
  
    <div class="small 12">
      <div id="admin-flag"></div>
      <div id="dialog-form" title="Create New Event" style="display:none">
        <p class="validateTips">Title field is required.</p>
        <p id="alert-miss"></p>
        <form>
        <fieldset>
          <label for="title">Title</label>
          <input type="text" name="title" id="title" value="Event Title" class="text ui-widget-content ui-corner-all">
          <label for="body">Description</label>
          <input type="text" name="body" id="body" value="Description" class="text ui-widget-content ui-corner-all">
          <!-- Allow form submission with keyboard without duplicating the dialog button -->
          <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
        </form>
      </div>
    <% end %>

  <div id='calendar_content'></div>
</div>

