<div id="joyride-content">
  <ol class="joyride-list" data-joyride>
    <li data-id="slider_title" data-text="Next" data-options="tip_location: top; prev_button: false">
      <p>You can edit the name you want for the slider.</p>
    </li>
    <li data-id="slider_selected" data-text="Next" data-options="tip_location: top; prev_button: false">
      <p>You can select wich slider should appear Only one will remain active.</p>
    </li>  
    <li data-id="add-image" data-text="Next" data-options="tip_location: top;">
      <p>Add images from attachments to this slider.</p>
    </li>
    <li data-button="End" data-options="tip_location: top;">
      <p>After images are added, you can reorder them by dragging and drop.</p>
    </li>
  </ol>
</div>