<h1 class="text-center"><%= t('pages.index.public.title') %></h1>

<div class="row">
  <% unless @pages.blank? %>
    <table>
      <thead>
        <tr>
          <th><%= t('pages.attributes.title') %></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @pages.each do |page| %>
          <tr>
            <td><%= page.title %></td>
            <td><%= link_to t('common.show'), page, class: "button tiny" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <br>
</div>