<div class="content" id="internationalization">
  <div class="field">
    <%= label_tag t('settings.available_languages') %>
    <% Setting.available_languages.each do |l| %>
    <%= check_box_tag 'i18n_' + l, 'yes', l.in?(Setting.selected_languages) %>
    <%= t('language_name.' + l, locale: l.to_sym) + ' (' + t('language_name.' + I18n.locale.to_s, locale: l.to_sym) + ')' %><br>
    <% end %>
  </div>
</div>