<h1 class="text-center"><%= t('pages.new.admin.title') %></h1>

<div class="row">
  <div class="small-9 columns">
    <%= render 'multilanguage_form' %>
  </div>
  <div class="small-3 columns">
    <button id="joyride-init" class="small radius">?</button>
  </div>
</div>
