<h1 class="text-center"><%= t('pages.new.admin.title') %></h1>

<div class="row">
  <div class="small-12">
    <% if Setting.selected_languages.length < 2 %>
      <%= render 'form' %>
    <% else %>
      <%= render 'multilanguage_form' %>
    <% end %>
  </div>
  <div class="small-3 columns">
    <button id="joyride-init" class="small radius">?</button>
  </div>
</div>
