<h1 class="text-center"><%= t('users.new.admin.title') %></h1>

<div class="row">
  <div class="small-6 columns">
    <%= render 'form' %>
  </div>
  <div class="small-6 columns">
    <button id="joyride-init" class="small radius">?</button>
  </div>
</div>